{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

<section class="col col-20 col-m-max-width m-order-1">
</section>
<section class="col col-60 col-m-max-width m-order-2">
    <section class="sec">
        <h2>GLOBAL RANKINGS</h2>
    </section>

    <section class="sec">
        <h2><span>MICHIGAN</span> RANKINGS</h2>
    </section>

    <section class="sec">
        <h2>YOUR RANKINGS</h2>
    </section>

    <section class="sec">
        <h2>HOW RANKINGS ARE CALCULATED</h2>
    </section>
</section>
<section class="col col-20 col-m-max-width m-order-3">
</section>

{% endblock %}