@import url('reset.css');
@font-face
    {
      font-family:TTOctosquaresCond-Regular;
      src:url('../fonts/TTOctosquaresCond-Regular.ttf') format("truetype");
      font-weight:normal;
    }
    @font-face
    {
      font-family:TTOctosquaresCond-Bold;
      src:url('../fonts/TTOctosquaresCond-Bold.ttf') format("truetype");
      font-weight:normal;
    }
    @font-face
    {
      font-family:TTOctosquaresCond-Light;
      src:url('../fonts/TTOctosquaresCond-Medium.ttf') format("truetype");
      font-weight:normal;
    }
    @font-face
    {
        font-family:TTOctosquaresCond-Italic;
        src:url('../fonts/TTOctosquaresCond-Italic.ttf') format("truetype");
        font-weight:normal;
    }

$font-primary:TTOctosquaresCond-Regular;
$font-primary-bold:TTOctosquaresCond-Bold;
$font-primary-light:TTOctosquaresCond-Light;
$font-primary-italic:TTOctosquaresCond-Italic;
$font-secondary:helvetica;

$color-0: #B9BBBE; 	/* White */
$color-1: #9d9fa1; 	/* LightGrey */
$color-2: #40444B; 	/* Grey */
$color-3: #36393F;	/* DarkGrey */
$color-4: #2F3136;	/* DarkerGrey */
$color-5: #202225;	/* DarkestGrey */
$color-6: #121212;	/* Black */
$color-7: #C9D8B6;  /* Specialty */


$lighten-percentage:0%;
$color-0:lighten($color-0, $lighten-percentage);
$color-1:lighten($color-1, $lighten-percentage);
$color-2:lighten($color-2, $lighten-percentage);
$color-3:lighten($color-3, $lighten-percentage);
$color-4:lighten($color-4, $lighten-percentage);
$color-5:lighten($color-5, $lighten-percentage);
$color-6:lighten($color-6, $lighten-percentage);
$color-7:lighten($color-7, $lighten-percentage);


body{
	
	background:$color-5;
	font-size:0;
	font-family:$font-primary-light;
	color:$color-1;
}
section,div{font-size:0;}
h1,h2,h3,h4,a,p,li,i,img,svg,span,div,section{
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
input{
}
h1,h2,h3,h4,a,i,p,input,textarea,div,section
{
	&:focus
	{
		outline:none;
	}
}


/* TITLE BAR */
.titlebar
{
	a,i,span,h1,h2,h3,h4,p
	{
		user-select:none;
		box-sizing:border-box;
	}
	box-sizing:border-box;
}
.titlebar{
	position:fixed;
	top:0;right:0;left:0;
	width:100%;
	height:25px;
	background:$color-5;
	z-index:5000;
	overflow:hidden;
}
.titlebar-drag{
	position:absolute;
	left:0;top:0;
	margin:0;
	display:inline-block;
	width:calc(100% - 240px);height:25px;
	vertical-align:top;
	min-width:370px;
	-webkit-app-region: drag;
}
.titlebar-login{
	text-align:right;
	position:absolute;
	right:75px;top:0;
	width:auto;height:25px;
	color:$color-1;
	font-size:12px;
	padding:7.5px 10px;
	line-height:10px;
	display:inline-block;
	font-family:$font-primary;
	opacity:0.5;
	text-decoration:none;
	a
	{
		text-decoration:none;
		color:$color-1;
		display:inline-block;
		font-size:12px;
		font-family:$font-primary-bold;
		vertical-align:top;
		padding-right:10px;
	}
	.titlebar-connection
	{
		color:$color-1;
		font-size:12px;
		line-height:10px;
		padding-left:0px;
		display:inline-block;
		font-family:$font-primary;
		text-decoration:none;
		min-width:0px;
		text-align:left;
		cursor:pointer;
	}
	.titlebar-connection-icon
	{
		font-size:6px;
		vertical-align:top;
		padding:3px 3px 1px 1px;
		cursor:pointer;
	}
}
.titlebar-title{
	font-size:12px;
	padding:7.5px 10px;
	line-height:10px;
	display:inline-block;
	color:$color-1;
	opacity:0.5;
	font-family:$font-primary;
	text-decoration:none;
	span
	{

		text-decoration:none;
		font-size:8px;
		vertical-align:top;
	}
}
.titlebar-main{
	position:absolute;
	right:0;left:0;
	top:0;
	margin:0 auto;
	font-size:12px;
	padding:7.5px 10px;
	line-height:10px;
	display:inline-block;
	color:$color-1;
	opacity:0.5;
	font-family:$font-primary;
	max-width:200px;
	text-align:center;
}
.titlebar-buttons{
	position:absolute;
	right:0;top:0;
	width:auto;
	text-align:right;
	height:25px;
	vertical-align:top;
	display:block;
	overflow:hidden;
	svg
	{
		color:$color-1;
	}
}
.titlebar-button{
	width:25px;
	height:25px;
	color:white;
	display:inline-block;
	vertical-align:top;
	svg
	{
		text-align:center;
		vertical-align:top;
		height:10px;width:auto;
		padding:7.5px 0;
		width:100%;
		color:white;
	}
}
.titlebar-button:hover{
	background:$color-4;
	i{color:$color-0;}
}
.titlebar-button-close:hover{

	background:#E81123;
	svg
	{
		color:white;
	}
}


/* SIDE BAR */
.sidebar{
	width:50px;height:calc(100vh - 25px);
	background:$color-5;
	margin:0;
	display:block;
	vertical-align:top;
	overflow:hidden;
	position:fixed;
	left:0;top:25px;
	z-index:2000;
	transition:width ease-in 0.2s, opacity ease 0.2s, box-shadow ease 0.2s;
}
.sidebar-expand-content{
	display:block;
	opacity:1;
	overflow:hidden;
	transition:opacity ease 0.2s;
	vertical-align:top;
	margin-top:0px;	
}
.sidebar-list-icon{
	width:40px;height:40px;
	background:$color-5;
	border-radius:33%;
	display:inline-block;
	margin:5px 5px 5px 5px;
	vertical-align:top;
	i
	{
		text-align:center;
		font-size:25px;
		line-height:25px;
		width:100%;height:50px;
		vertical-align:top;
		text-align:center;
		margin:7.5px 0;
		transition:color 0.4s;
		color:$color-2;
	}
}
.sidebar ul{
	display:block;
	width:100%;
	height:auto;
	vertical-align:top;	
}
.sidebar a{
	text-align:left;
	width:200px;
	cursor:pointer;
	display:block;
	&:hover
	{
		i
		{
			color:$color-1;
		}
	}
	h1
	{
		opacity:0;
		display:inline-block;
		width:auto;
		font-size:16px;
		line-height:16px;
		padding:16px 0 16px 5px;
		transition:opacity ease 0.2s;
		color:$color-0;
	}
}
.sidebar-ver-text{
	width:200px;
	position:absolute;
	bottom:0;left:0;right:0;
	text-align:center;
	opacity:0;
	vertical-align:bottom;
	transition:opacity ease 0.2s;
	h2
	{
		display:block;
		font-size:12px;
		color:$color-0;
	}
	h3
	{
		display:block;
		font-size:10px;
		color:$color-0;
		padding:10px 0 20px 0;
	}
}
.sidebar-expanded{
	width:200px;
	box-shadow:40px 0px 100px 100px rgba(0,0,0,0.2);
	.sidebar-expand-content{display:block;opacity:1;}
	.sidebar-ver-text{opacity:0.5;}
	a h1{opacity:0.6;}
}
.sidebar .active{
	i
	{
		color:$color-1;
	}
	background:$color-3;
}


/* CONTENT */
.content-wrapper{
	width:calc(100vw - 50px);
	height:calc(100vh - 25px);
	margin:25px 0 0 50px;
	overflow:hidden;
	vertical-align:top;
	background:$color-4;
	border-radius:10px 0 0 0;
	box-sizing:border-box;
	border-top:solid 2px $color-5;
}
#content{
	width:calc(100% - 10px);
	height:calc(100vh - 25px);
	margin:0 10px 0 0;
	overflow-x:hidden;
	overflow-y: auto;
	background:$color-4;
	border-radius:10px 0 0 0;
	box-sizing:border-box;
	border:solid 2px $color-5;
	border-right:none;
	border-top:none;
		/* width */
	&::-webkit-scrollbar {
	  width: 10px;
	  transition:background 1s;
	}

	/* Track */
	&::-webkit-scrollbar-track {
	  margin:10px 0;
	  background: $color-3;
	  border-radius:7.5px;
	  box-sizing:border-box;
	  transition:background 1s;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
	  transition:background 1s;
	  background-color: $color-2;
	  border-radius:7.5px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
	  background-color:darken($color-2, 10%);
	}
}
.test{

	height:5000px;
	width:100px;
}
section{
	opacity:0;
	transition:opacity 1.5s;
	width:calc(100% - 20px);
	height:200px;
	border-radius:10px;
	margin:10px 0px 0 10px;
	background:$color-3;
	position:relative;
	vertical-align:top;
	overflow:hidden;
}
.grid-2-25{
	display:inline-block;
	width:calc(25% - 12.5px);
	font-size:12px;
	color:$color-0;
	transition:opacity 1.5s;
	height:auto;
}
.grid-50-a
{
	display:inline-block;
	width:calc(50% - 15px);
	font-size:12px;
	color:$color-0;
	height:auto;
	text-align:center;
	.bs-col
	{
		padding-top:25px;
	}
}
.grid-100-a
{
	display:inline-block;
	width:calc(100% - 20px);
	font-size:12px;
	color:$color-0;
	height:auto;
	text-align:center;
	.bs-col
	{
		padding-top:25px;
	}
}
.top-bar{
	height:40px;
	input[type=text]
	{
		border-radius:10px;
		appearance:none;
		-webkit-appearance:none;
		outline:none;
		&:focus{outline:none;}
		background:$color-5;
		border:none;
		color:$color-1;
		height:30px;
		margin:5px 0 5px 5px;
		padding-left:10px;
		font-family:$font-primary;
		font-size:14px;
		line-height:14px;
		vertical-align:top;
		display:inline-block;
		min-width:100px;
		width:30%;
		max-width:300px;
	}
	input[type=submit]
	{
		border-radius:10px;
		appearance:none;
		-webkit-appearance:none;
		outline:none;
		&:focus{outline:none;}
		border:none;
		height:30px;
		margin:5px;
		padding-left:10px;
		padding-right:10px;
		font-family:$font-primary;
		font-size:14px;
		line-height:14px;
		vertical-align:top;
		display:inline-block;
		box-sizing:border-box;
		background:$color-5;
		color:$color-1;
	}
	.filter
	{
		border-radius:10px;
		float:right;
		font-family:$font-primary;
		font-size:14px;
		line-height:14px;
		vertical-align:top;
		display:inline-block;
		margin:5px;
		height:30px;
		padding:8px 10px 9px 10px;
		box-sizing:border-box;
		background:$color-5;
		color:$color-1;
	}
	.sort
	{
		border-radius:10px;
		float:right;
		font-family:$font-primary;
		font-size:14px;
		line-height:14px;
		vertical-align:top;
		display:inline-block;
		margin:5px;
		height:30px;
		padding:8px 10px 9px 10px;
		box-sizing:border-box;
		background:$color-5;
		color:$color-1;
		i
		{
			display:inline-block;
			font-size:12px;
			padding-left:2px;
		}
	}
}
h1.title-left 
{
	position:absolute;
	top:15px;left:20px;
	font-size:20px;
	color:$color-1;
}


/* HOMEPAGE */
#homepage-wrap{
	text-align:center;
	position:absolute;
	vertical-align:top;
	right:0;left:0;
	margin:40vh auto 0 auto;
	width:auto;height:auto;
	display:block;
	color:$color-1;
	h2
	{
		opacity:0;
		margin:0 auto;
		font-size:35px;
		span
		{
			display:inline-block;
		}
		transition:opacity 1s;
	}
	h3
	{
		margin:20px 0 0 0;
		font-size:25px;	
		span
		{
			font-size:12px;
			vertical-align:top;
			padding:0;
		}
	}
}
#homepage-content
{
	display:block;
	opacity:1;
	transition:opacity linear 0.5s;
}


/* BLOCK STATS */
.bs{
	height:auto;
	text-align:center;
}
.bs-col{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	h1{
		vertical-align:top;
		display:block;
		font-size:40px;
		line-height:40px;
		color:$color-0;
		padding:0;
		margin:20px 0 0 0;
	}
	h2{
		vertical-align:top;
		display:block;
		font-size:20px;
		line-height:20px;
		color:$color-0;
		margin:10px 0 30px 0;
		padding:0;
	}
	i
	{
		vertical-align:top;
		font-size:25px;
		vertical-align:top;
		padding:3px 0 0 5px;
		color:#6c9657;
	}
	min-height:50px;
	margin:0;font-size:0;
}
.bs-wrap{
	display:inline-block;
	font-size:0;
	min-width:350px;
}
.small-display{
	h1{
		font-size:30px;
		padding:0;
		margin:20px 0 0 0;
	}
	h2{
		font-size:16px;
		margin:20px 0 20px 0;
		padding:0;
	}
	i
	{
		font-size:20px;
		padding:5px 0 0 10px;
	}
	min-height:140px;
}
.bs-col-12{width:50%;}
.bs-col-15{width:15%;}
.bs-col-25{width:50%;}
.bs-col-20{width:23.5%;}
.bs-col-30{width:28%;}
.bs-col-50{width:44%;}
.bs-col-55{width:55%;}


/* BOWLER OBJECT */
.bowler-picture{
	height:80px;
	width:80px;
	border-radius:50%;
	background:$color-5;
	margin:10px;
	display:inline-block;
	overflow:hidden;
	appearance:none;
	outline:none;
	border:none;
}
.bowler-obj-wrap{
	width:auto;
	height:100px;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
}
.bowler-name{
	display:block;
	font-size:18px;
	padding-top:20px;
	line-height:18px;
	vertical-align:top;
}
.bowler-location{
	display:block;
	font-size:14px;
	padding-top:5px;
	line-height:14px;
	vertical-align:top;
}
.bowler-date{
	display:block;
	font-size:12px;
	line-height:12px;
	padding-top:10px;
	vertical-align:top;
}


/* STANDARD SECTION INPUT 1 */
.sc{
	width:calc(100% - 20px);
	margin:10px auto;
	max-width:1000px;
	min-height:400px;
	position:relative;
	box-sizing:content-box;
	overflow:visible;
}
.sc-30{width:30%;}
.sc-70{width:70%;}
.sc-title-1{
	font-size:24px;
	margin:20px;
	color:$color-1;
}
.sc-title-2{
	font-size:24px;
	margin:20px;
	color:$color-0;
}
.sc-submit-1{
	position:absolute;
	right:0px;bottom:10px;
	text-align:right;
	input[type=submit]
	{	
		cursor:pointer;
		-webkit-appearance:none;
		appearance:none;
		height:auto;width:auto;
		background:$color-5;
		vertical-align:top;
		margin:0;
		border:none;
		border-radius:10px;
		font-size:18px;
		padding:10px 20px 10px 20px;
		margin:0 10px 0 0;
		display:inline-block;
		vertical-align:top;
		font-family:$font-primary;
		box-sizing:border-box;
		color:$color-1;
	}
}
.sr{
	width:80%;
	margin:0px 10% 0px 10%;
	height:60px;
	position:relative;
	box-sizing:border-box;
}
.sc-sidebar{
	background:$color-5;
	position:absolute;
	left:0;top:0;bottom:0;
	min-height:400px;
	a
	{
		display:block;
		width:calc(100% - 50px);
		text-align:left;
		color:$color-2;
		font-size:20px;
		margin: 0 25px;
		padding:10px 0;
		overflow:hidden;
		cursor:pointer;
		i
		{
			font-size:16px;
			padding:4px 0 0px 5px;
			vertical-align:top;
			display:none;
		}
	}
	.selected
	{
		color:$color-1;
	}
	border-radius:10px 0 0 10px
}
.sc-content{
	position:absolute;
	right:0;top:0;bottom:0;
	min-height:400px;
	border-radius:0 10px 10px 0;
}
.sc-content-page{
	width:100%;
	display:none;
}
.sc-tip{
	display:none;
	position:absolute;
	top:30px;left:0px;
	width:auto;
	height:auto;
	background:$color-5;
	z-index:1500;
	border-radius:10px;
	box-sizing:border-box;
	padding:20px;
	font-size:16px;
	line-height:20px;
	color:$color-1;
}
.sr label{
	font-size:20px;
	display:inline-block;
	margin-left:20px;
	padding-top:8px;
	color:$color-0;
}
.sr p{
	font-size:16px;
	display:block;
	margin-left:22px;
	max-width:calc(100% - 30px);
	padding-top:3px;
	color:$color-1;
	font-family:$font-primary-italic;
	position:relative;
	a
	{

		cursor:pointer;
		display:inline-block;
		padding-right:5px;
		text-decoration:none;
		color:$color-1;
		font-size:14px;
	}
	a:hover .sc-tip
		{	
			display:block;
		}
}
input, textarea, select{
	-webkit-appearance:none;
	appearance:none;
	font-family:$font-primary;
	color:$color-0;
	background:$color-2;
	border-radius:10px;
	&:focus
	{
		outline:none;
		border:none;
	}
	&::-webkit-inner-spin-button {
		  -webkit-appearance: none;
	}
}
textarea{
	resize:none;
	&::-webkit-scrollbar {
	  width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
	  margin:10px 0;
	  background: $color-4;
	  border-radius:7.5px;
	  box-sizing:border-box;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
	  background: $color-1;
	  border-radius:7.5px;
	  opacity:0.2;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
	  background:$color-1;
		opacity:0.2;
	}
}
.sr-header{
	h1
	{
		font-size:22px;
		display:inline-block;
		margin-left:10px;
		padding-top:22px;
		color:$color-0;
	}
	border-bottom:solid 1px $color-5;
}
.sr-checkbox{

	input[type=checkbox]
	{
		position:absolute;
		right:10px;top:15px;
		-webkit-appearance:none;
		appearance:none;
		height:30px;
		width:30px;
		vertical-align:top;
		margin:0;
		&:checked
		{
			background:$color-4;
			box-sizing:border-box;
			border:solid 5px $color-2;
		}
	}
}
.sr-textfield{
	input[type=text],input[type=number]
	{
		position:absolute;
		right:10px;top:15px;
		-webkit-appearance:none;
		appearance:none;
		height:30px;
		width:50%;
		vertical-align:top;
		margin:0;
		border:none;
		padding-left:10px;
		&:focus
		{
			border:none;
		}
		
	}
}
.sr-doubletextfield{
	height:100px;
	label
	{
		display:block;
		padding-top:15px;
	}
	input[type=text],input[type=number]
	{
		position:absolute;
		right:10px;top:15px;
		-webkit-appearance:none;
		appearance:none;
		height:30px;
		width:50%;
		vertical-align:top;
		margin:0;
		border:none;
		padding-left:10px;
		&:focus
		{
			border:none;
		}
	}
	input[type=text]:first-of-type + input[type=text]
	{
		width:30%;
	}
}
.sr-textarea{
	height:90px;
	textarea
	{
		position:absolute;
		right:10px;top:0px;
		-webkit-appearance:none;
		appearance:none;
		height:60px;
		width:calc(100% - 10px);
		vertical-align:top;
		padding:10px;
		margin:0;
		border:none;
		padding-left:10px;
		border-radius:10px 0 0 10px;
	}
	div
	{
		border-radius:10px;
		position:absolute;
		right:10px;top:15px;
		height:60px;
		width:50%;
		background:$color-2;
	}
}
.sr-datefield{
	input[type=date]
	{
		position:absolute;
		right:10px;top:15px;		
		height:30px;
		width:50%;
		vertical-align:top;
		margin:0;
		border:none;
		padding-left:10px;	
		font-family:$font-primary-bold;
		&:focus
		{
			outline:none;
			border:none;
		}

		&::-webkit-datetime-edit { padding: 1em; }
		&::-webkit-datetime-edit-fields-wrapper 
		{
			text-align:center;
			width:calc(100% - 25px);
		}
		&::-webkit-datetime-edit-text { }
		&::-webkit-datetime-edit-month-field {  }
		&::-webkit-datetime-edit-day-field {  }
		&::-webkit-datetime-edit-year-field {  }
		&::-webkit-inner-spin-button { display: none; }
		&::-webkit-calendar-picker-indicator
		{
			border-radius:50%;
			overflow:hidden;
			position:absolute;
			right:7.5px;top:10px;
			width:10px;
			height:10px;
			display:block;
			box-sizing:border-box;
			background:$color-4;
			background-image:url('/static/img/favicon.png');
		}
	}
}
.sr-timefield{
	input[type=time]
	{
		position:absolute;
		right:10px;top:15px;		
		height:30px;
		width:50%;
		vertical-align:top;
		margin:0;
		border:none;
		padding-left:10px;	
		font-family:$font-primary-bold;
		&:focus
		{
			outline:none;
			border:none;
		}

		&::-webkit-datetime-edit { padding: 1em; }
		&::-webkit-datetime-edit-fields-wrapper 
		{
			text-align:center;
			width:calc(100% - 25px);
		}
		&::-webkit-datetime-edit-text { }
		&::-webkit-datetime-edit-month-field {  }
		&::-webkit-datetime-edit-day-field {  }
		&::-webkit-datetime-edit-year-field {  }
		&::-webkit-inner-spin-button { display: none; }
		&::-webkit-calendar-picker-indicator
		{
			border-radius:50%;
			overflow:hidden;
			position:absolute;
			right:7.5px;top:10px;
			width:10px;
			height:10px;
			display:block;
			box-sizing:border-box;
			background:$color-4;
			background-image:url('/static/img/favicon.png');
		}
	}
}
.sr-dropfield{
	select
	{
		position:absolute;
		right:10px;top:15px;
		-webkit-appearance:none;
		appearance:none;
		height:30px;
		width:50%;
		vertical-align:top;
		margin:0;
		border:none;
		padding-left:10px;
		&:focus
		{
			border:none;
			outline:none;
		}
		option
		{
			-webkit-appearance:none;
			appearance:none;
			background:$color-1;
			color:$color-4;
			font-size:16px;
			padding:10px 15px;
			border:none;
			box-shadow:none;
			outline:none;
			&:focus
			{
				border:none;
				outline:none;
			}
			&:hover
			{
				background:$color-1;
				color:$color-4;
			}
		}

	}
}
.sr-addabove{
	div
	{
		position:absolute;
		right:10px;top:-5px;
		-webkit-appearance:none;
		appearance:none;
		height:30px;
		width:30px;
		vertical-align:top;
		margin:0;
		border:none;
		border-radius:10px;
		overflow:hidden;
		background:$color-2;
		i
		{
			color:$color-4;
			font-size:15px;
			width:30px;
			line-height:30px;
			text-align:center;
			padding:1px;
		}
	}
}
.sr-tripletextfield{
	height:140px;
	label
	{
		display:block;
		padding-top:15px;
	}
	input[type=text],input[type=number]
	{
		position:absolute;
		right:10px;top:15px;
		-webkit-appearance:none;
		appearance:none;
		height:30px;
		width:50%;
		vertical-align:top;
		margin:0;
		border:none;
		padding-left:10px;
		&:focus
		{
			border:none;
		}
	}
	input[type=text]:first-of-type + input[type=text]
	{
		width:30%;
	}
	input[type=date]
	{
		position:absolute;
		right:10px;top:15px;		
		height:30px;
		width:50%;
		vertical-align:top;
		margin:0;
		border:none;
		padding-left:10px;	
		font-family:$font-primary-bold;
		&:focus
		{
			outline:none;
			border:none;
		}

		&::-webkit-datetime-edit { padding: 1em; }
		&::-webkit-datetime-edit-fields-wrapper 
		{
			text-align:center;
			width:calc(100% - 25px);
		}
		&::-webkit-datetime-edit-text { }
		&::-webkit-datetime-edit-month-field {  }
		&::-webkit-datetime-edit-day-field {  }
		&::-webkit-datetime-edit-year-field {  }
		&::-webkit-inner-spin-button { display: none; }
		&::-webkit-calendar-picker-indicator
		{
			border-radius:50%;
			overflow:hidden;
			position:absolute;
			right:7.5px;top:10px;
			width:10px;
			height:10px;
			display:block;
			box-sizing:border-box;
			background:$color-4;
			background-image:url('/static/img/favicon.png');
		}
	}
	input[type=time]
	{
		position:absolute;
		right:10px;top:15px;		
		height:30px;
		width:50%;
		vertical-align:top;
		margin:0;
		border:none;
		padding-left:10px;	
		font-family:$font-primary-bold;
		&:focus
		{
			outline:none;
			border:none;
		}

		&::-webkit-datetime-edit { padding: 1em; }
		&::-webkit-datetime-edit-fields-wrapper 
		{
			text-align:center;
			width:calc(100% - 25px);
		}
		&::-webkit-datetime-edit-text { }
		&::-webkit-datetime-edit-month-field {  }
		&::-webkit-datetime-edit-day-field {  }
		&::-webkit-datetime-edit-year-field {  }
		&::-webkit-inner-spin-button { display: none; }
		&::-webkit-calendar-picker-indicator
		{
			border-radius:50%;
			overflow:hidden;
			position:absolute;
			right:7.5px;top:10px;
			width:10px;
			height:10px;
			display:block;
			box-sizing:border-box;
			background:$color-4;
			background-image:url('/static/img/favicon.png');
		}
	}
}
.sr-pie-graph{
	$pie-1:#F4F1DE;
	$pie-2:#E07A5F;
	$pie-3:#3D405B;
	$pie-4:#81B29A;
	$pie-5:#F2CC8F;
	margin-top:30px;
	.chart
	{
		display:inline-block;
		width: 180px;
	  	height: 180px;
	  	margin-left:30px;
	  	background-image: conic-gradient($pie-1 0%,$pie-1 20%,
	  									$pie-2 20%,$pie-2 40%,
	  									$pie-3 40%,$pie-3 78%,
	  									$pie-4 78%,$pie-4 85%,
	  									$pie-5 85%,$pie-5 100%);
	  	border-radius: 50%;

	  	box-shadow:5px 5px 0px $color-6;
	}
	.table
	{
		vertical-align:top;
		width:calc(100% - 230px);
		margin-left:20px;
		display:inline-block;
		a
		{
			display:block;
			padding:20px 0 0 30px;
			font-size:18px;
			color:$color-1;
			i
			{
				padding-right:10px;
				text-shadow:2px 2px 0px $color-6;
			}
			span
			{
				font-size:16px;
			}
		}
		.pie-1 i{color:$pie-1;}
		.pie-2 i{color:$pie-2;}
		.pie-3 i{color:$pie-3;}
		.pie-4 i{color:$pie-4;}
	}
}
.sr-autofield{
	input[type=text],input[type=number]
	{
		position:absolute;
		right:10px;top:15px;
		-webkit-appearance:none;
		appearance:none;
		height:30px;
		width:50%;
		vertical-align:top;
		margin:0;
		border:none;
		padding-left:10px;
		&:focus
		{
			border:none;
		}
		z-index:2;
		
	}
	.attach
	{
		border-radius:10px;
	}
	.autofield-wrap
	{
		z-index:1;
		position:absolute;
		right:10px;top:35px;
		width:50%;height:auto;
		border-radius:0 0 10px 10px;
		background:$color-1;
		padding-top:20px;
		overflow:hidden;
		padding:0;
		transition:max-height linear 0.5s;
		.scroll-wrap
		{

			max-height:0px;
			overflow-x:hidden;
			overflow-y:auto;
			width:calc(100% - 10px);
			margin-right:10px;

			&::-webkit-scrollbar {
		  		width: 10px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
			  margin:20px 0 10px 0;
			  background: $color-4;
			  border-radius:7.5px;
			  box-sizing:border-box;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
			  background: $color-5;
			  border-radius:7.5px;
			  opacity:0.2;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
			  background: $color-4;
				opacity:0.2;
			}
		}
		a
		{
			cursor:pointer;
			display:block;
			width:100%;
			padding:15px 0 5px 0;
			margin-bottom:2px;
			box-sizing:border-box;
			min-height:50px;
			span
			{
				display:inline-block;
				font-size:16px;
				padding-left:15px;
				color:$color-4;
				max-width:50%;
			}
			i
			{
				display:inline-block;
				float:right;
				color:$color-4;
				padding-right:10px;
				font-size:14px;
				&:before{content:'(';}
				&:after{content:')';}
			}
			&:hover
			{
				text-decoration:underline;
			}
		}
		a:first-of-type
		{
			margin-top:20px;
		}
	}
}
.sr-autofield input:focus + .autofield-wrap{
	max-height:500px;
}


.sr-cache
{
	$cache_color_1:#157A6E;
    $cache_color_2:#499F68;
    $cache_color_3:#77B28C;
    $cache_color_4:#C2C5BB;
	.bar
	{		
		height:30px;width:calc(100% - 20px);
		vertical-align:top;
		margin:50px 10px 20px 10px;
		border:none;	
		font-family:$font-primary-bold;
		background:$color-5;
		border-radius:10px;
		
	}
	.cache_color_1{background:$cache_color_1}
	.cache_color_2{background:$cache_color_2}
	.cache_color_3{background:$cache_color_3}
	.cache_color_4{background:$cache_color_4}

	.type-row
	{
		display:block;
		width:calc(100% - 20px);
		margin:0 0 10px 10px;
	}
	.type-color
	{
		height:25px;
		width:25px;
		border-radius:10px;
		display:inline-block;
	}
	.type-row label
	{
		font-size:18px;
		padding:5px 0;
		margin:0 0 0 10px;
		vertical-align:top;
	}
	.type-row span
	{
		font-size:16px;
		padding:6px;
		color:$color-1;
	}
	
}












.oil-obj-wrap{
	width:auto;
	height:250px;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
}
.oil-name{
	display:block;
	font-size:18px;
	padding:10px;
	line-height:18px;
	vertical-align:top;
	width:calc(100% - 130px);
	min-width:200px;
	overflow:hidden;
}
.oil-location{
	display:block;
	font-size:14px;
	padding:10px;
	line-height:14px;
	vertical-align:top;
}
.oil-date{
	display:block;
	font-size:12px;
	line-height:12px;
	padding-top:10px;
	vertical-align:top;
}
.t-oil-display-wrap{
	height:230px;width:100px;
	position:absolute;
	right:0;top:0;
	max-width:200px;
	display:inline-block;
	border-radius:10px;
	overflow:hidden;
	box-sizing:border-box;
	font-size:0;
	margin:10px 10px 10px 0;
	border:1px solid $color-1;
}
.t-oil-display{
	width:100%;
	vertical-align:top;
	display:inline-block;
	background:transparent;
	height:230px;
	border-radius:10px 10px 0 0;
	box-sizing:border-box;
	display:flex;
	justify-content:center;
	font-size:0;
}
.t-oil-cell{
	vertical-align:top;
	width:10px;height:215px;
	display:flex;
	justify-content:stretch;
	align-content:stretch;
	flex-direction:column;
	border-right:solid 1px $color-1;
}
.t-oil-row{
	vertical-align:top;
	flex-grow:1;
	width:100%;
	display:inline-block;
	position:relative;
	border-bottom:solid 1px $color-1;
	box-sizing:border-box;
	label
	{
		position:absolute;
		bottom:-5px;right:-35px;
		width:30px;height:auto;
		font-size:10px;
		text-align:left;
	}
}
.t-oil-cell-right{
	border-right:none;
}
.t-oil-row-bottom{
	flex:0 0;
	border-bottom:none;
	max-height:5px;
	min-height:5px;
}
.t-oil-row-top{
	flex:0 0;
	border-top:none;
	max-height:20px;
	min-height:20px;
}









#updater-container
{
	text-align:center;
	vertical-align:top;
	position:relative;
	width:100%;height:500px;
	overflow:hidden;
}
#updater-load
{
	position:absolute;
	width:50px;height:50px;
	right:0;top:120px;left:0;
	margin:0 auto;
	display:block;
	opacity:1;
	transition:opacity linear 0.5s;
	overflow:hidden;
}
#updater-download
{
	position:absolute;
	width:50px;height:50px;
	right:0;top:120px;left:0;
	margin:0 auto;
	display:block;
	opacity:1;
	transition:opacity linear 0.5s;
	overflow:hidden;
}
#updater-done
{
	position:absolute;
	right:0;left:0;top:120px;
	margin:0 auto;
	width:100px;height:100px;
	display:block;
	font-size:50px;
	line-height:50px;
	padding:25px 0;
	box-sizing:border-box;
	text-align:center;
	color:$color-1;
	opacity:0;
	transition:opacity linear 0.5s;
}
#updater-text
{
	position:absolute;
	top:300px;
	transition:opacity 0.25s;
}