{% extends 'prolink_base_layout.html' %}
{% load static %}
{% block content %}
<section class="bs">
    <div class="bs-col bs-col-15">
        <h1>21</h1>
        <h2>ACTIVE FORMATS</h2>
    </div>
    <div class="bs-col bs-col-15">
        <h1>34</h1>
        <h2>INACTIVE FORMATS</h2>
    </div>
    <div class="bs-col bs-col-15">
        <h1>10</h1>
        <h2>DISBANDED FORMATS</h2>
    </div>
</section>
<section class="top-bar">
    <input type="text" placeholder="SEARCH TOURNAMENTS">
    <input type="submit" value="SEARCH">
    <a class="filter">FILTERS</a>
    <a class="sort">SORT <i class="fa fa-chevron-down"></i></a>
</section>
{% endblock %}