{% extends 'prolink_base_layout.html' %}
{% load static %}
{% block content %}
<section class="sc">
    <div class="sc-sidebar sc-30">
        <h2 class="sc-title-1">MY ACCOUNT</h2>
        <a class="selected">GENERAL<i class="fa fa-chevron-left"></i></a>
        <a>ADMINISTRATOR</a>
        <a>LOGOUT</a>
    </div>
    <div class="sc-content sc-70">
        <h2 class="sc-title-2">GENERAL</h2>
        <div class="sr sr-header">
            <h1>Settings Menu Name</h1>
        </div>
        <div class="sr sr-checkbox">
            <label>Settings Option</label>
            <p>Settings Option Description</p>
            <input type="checkbox" checked>
        </div>
        <div class="sr sr-checkbox">
            <label>Settings Option</label>
            <p>Settings Option Description</p>
            <input type="checkbox" checked>
        </div>
        <div class="sr sr-checkbox">
            <label>Settings Option</label>
            <p>Settings Option Description</p>
            <input type="checkbox" checked>
        </div>
        <div class="sr sr-header">
            <h1>Settings Menu Name</h1>
        </div>
        <div class="sr sr-checkbox">
            <label>Settings Option</label>
            <p>Settings Option Description</p>
            <input type="checkbox" checked>
        </div>
        <div class="sr sr-checkbox">
            <label>Settings Option</label>
            <p>Settings Option Description</p>
            <input type="checkbox" checked>
        </div>
        <div class="sr sr-checkbox">
            <label>Settings Option</label>
            <p>Settings Option Description</p>
            <input type="checkbox" checked>
        </div>
        <div class="sc-submit-1">
            <input type="submit" value="APPLY CHANGES">
        </div>
    </div>
</section>

{% endblock %}