{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>SBS PROLINK SYNC</title>
    <link rel="stylesheet" type="text/css" href="{% static 'prolink/css/main.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'prolink/css/load.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'prolink/css/all.css' %} ">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <script src="{% static 'prolink/js/load/load.js'%}"></script>
  </body>
</html>
