{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>SBS PROLINK - {{ page_name }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'prolink/css/main.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'prolink/css/all.css' %} ">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'prolink/js/sidebar.js'%}"></script>
    <script src="{% static 'prolink/js/scroll-fix.js'%}"></script>
    <script>if (window.module) module = window.module;</script>
  </head>
  <body>
    <div class="titlebar">

      <a class="titlebar-title">SBS <span>PROLINK</span></a>
      <a class="titlebar-main">{{ page_name }}</a>
      <div class="titlebar-drag"></div>

      <div class="titlebar-login">
        Logged in as <a href="{% url 'prolink:account' %}">{{ user.first_name|none_replace:'Unknown' }}</a>
        <i id="con-ping-icon" class="fas fa-circle titlebar-connection-icon"></i><i class="titlebar-connection" id="con-ping">SYNC</i>
      </div>

      <div class="titlebar-buttons">
        <a id="t-btn-min" class="titlebar-button">
          <svg aria-hidden="false" width="12" height="12" viewBox="0 0 12 12"><rect fill="currentColor" width="10" height="1" x="1" y="6"></rect></svg>
        </a>
        <a id="t-btn-max" class="titlebar-button">
          <svg aria-hidden="false" width="12" height="12" viewBox="0 0 12 12"><rect width="9" height="9" x="1.5" y="1.5" fill="none" stroke="currentColor"></rect></svg>
        </a>
        <a id="t-btn-close" class="titlebar-button titlebar-button-close">
          <svg aria-hidden="false" width="12" height="12" viewBox="0 0 12 12"><polygon fill="currentColor" fill-rule="evenodd" points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1"></polygon></svg>
        </a>
      </div>

    </div>
    <div class="sidebar">
      <div class="sidebar-icon">
        <i class="fa fa-bars open-icon"></i>
        <i class="fa fa-arrow-left close-icon"></i>
      </div>
      <div class="sidebar-expand-content">
        <ul>
          <a href="{% url 'prolink:home' %}"><li><span class="sidebar-list-icon {% if 'home' in nbar %} active{% endif %}"><i class="fas fa-chart-line"></i></span><h1>Dashboard</h1></li></a>
          <a href="{% url 'prolink:create' %}"><li><span class="sidebar-list-icon {% if 'create' in nbar %} active{% endif %}"><i class="fa fa-plus"></i></span><h1>Create Tournament</h1></li></a>
          <a href="{% url 'prolink:start' %}"><li><span class="sidebar-list-icon {% if 'start' in nbar %} active{% endif %}"><i class="far fa-play-circle"></i></span><h1>Start Tournament</h1></li></a>
          <a href="{% url 'prolink:active' %}"><li><span class="sidebar-list-icon {% if 'active' in nbar %} active{% endif %}"><i class="fas fa-window-restore"></i></span><h1>Active Tournaments</h1></li></a>
          <a href="{% url 'prolink:all' %}"><li><span class="sidebar-list-icon {% if 'all' in nbar %} active{% endif %}"><i class="far fa-chart-bar"></i></span><h1>All Tournaments</h1></li></a>
          <a href="{% url 'prolink:formats' %}"><li><span class="sidebar-list-icon {% if 'formats' in nbar %} active{% endif %}"><i class="fas fa-file-contract"></i></span><h1>View Formats</h1></li></a>
          <a href="{% url 'prolink:oils' %}"><li><span class="sidebar-list-icon {% if 'oils' in nbar %} active{% endif %}"><i class="fas fa-oil-can"></i></span><h1>View Oil Patterns</h1></li></a>
          <a href="{% url 'prolink:bowlers' %}"><li><span class="sidebar-list-icon {% if 'bowlers' in nbar %} active{% endif %}"><i class="fas fa-users"></i></span><h1>View Bowlers</h1></li></a>
          <a href="{% url 'prolink:centers' %}"><li><span class="sidebar-list-icon {% if 'centers' in nbar %} active{% endif %}"><i class="far fa-building"></i></span><h1>View Centers</h1></li></a>
          <a href="{% url 'prolink:rankings' %}"><li><span class="sidebar-list-icon {% if 'rankings' in nbar %} active{% endif %}"><i class="fas fa-trophy"></i></span><h1>View Rankings</h1></li></a>
          <a href="{% url 'prolink:account' %}"><li><span class="sidebar-list-icon {% if 'account' in nbar %} active{% endif %}"><i class="fas fa-user"></i></span><h1>My Account</h1></li></a>
          <a href="{% url 'prolink:websettings' %}"><li><span class="sidebar-list-icon {% if 'websettings' in nbar %} active{% endif %}"><i class="fas fa-globe"></i></span><h1>Website Settings</h1></li></a>
          <a href="{% url 'prolink:prosettings' %}"><li><span class="sidebar-list-icon {% if 'prosettings' in nbar %} active{% endif %}"><i class="fas fa-cog"></i></span><h1>Program Settings</h1></li></a>
        </ul>
      </div>
      <div class="sidebar-ver-text">
        <h2>SBS PROLINK</h2>
        <h3 id="version-text">Version Unknown</h3>
        <script>
          const remote = require('electron');
          $(document).ready(function(){
            var version = remote.app.getVersion();
            $('#version-text').text('v' + version + ' ALPHA');
          });
        </script>
      </div>
    </div>
    <div class="content-wrapper">
      <div id="content">
          {% block content%}

          {% endblock %}
      </div>
    </div>
    <script>
            $(document).ready(function()
            {
              if(sessionStorage.allowedToFade == 'yes')
              {
                $('section').css('opacity','1');
                console.log(sessionStorage.allowedToFade);
              }
            });
    </script>
    <script src="{% static 'prolink/js/title/title-ping.js' %}"></script>
    <script src="{% static 'prolink/js/title/title-buttons.js' %}"></script>
  </body>
</html>
