{% extends 'prolink_base_layout.html' %}
{% load static %}
{% block content %}
<script src="{% static 'prolink/js/homepage/home-greet.js'%}"></script>
<div id="homepage-wrap">
    <h2><span class="greeting"></span>, {{ user.first_name }}</h2>
</div>
<div id="homepage-content">
    <section class="grid-50-a">
        <h1 class="title-left">SBS WEBSITE</h1>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>12,495,192</h1>
            <h2>PAGE VIEWS</h2>
        </div>
            <div class="bs-col bs-col-25 small-display">
            <h1>159,025</h1>
            <h2>VISITS THIS MONTH</h2>
        </div>
        </div>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
                <h1>5,920</h1>
                <h2>VISITS TODAY</h2>
            </div>
            <div class="bs-col bs-col-25 small-display">
                <h1>298</h1>
                <h2>ONLINE NOW</h2>
            </div>
        </div>
    </section>
    <section class="grid-50-a">
        <h1 class="title-left">SBS MOBILE APP</h1>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>246,284</h1>
            <h2>HOURS LOGGED</h2>
        </div>
            <div class="bs-col bs-col-25 small-display">
            <h1>821,908</h1>
            <h2>NOTIFICATIONS</h2>
        </div>
        </div>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>21,158</h1>
            <h2>VISITS THIS MONTH</h2>
        </div>
            <div class="bs-col bs-col-25 small-display">
            <h1>495</h1>
            <h2>VISITS TODAY</h2>
        </div>
        </div>
    </section>
    <section class="grid-100-a">
        <h1 class="title-left">DONATIONS</h1>
        <div class="bs-wrap bs-col-20">
            <div class="bs-col bs-col-12 small-display">
            <h1>$246,284</h1>
            <h2>DONATIONS TOTAL</h2>
        </div>
            <div class="bs-col bs-col-12 small-display">
            <h1>5,120</h1>
            <h2>TIER 1 PURCHASES</h2>
        </div>
        </div>
        <div class="bs-wrap bs-col-20">
            <div class="bs-col bs-col-12 small-display">
            <h1>2,917</h1>
            <h2>TIER 2 PURCHASES</h2>
        </div>
            <div class="bs-col bs-col-12 small-display">
            <h1>820</h1>
            <h2>TIER 3 PURCHASES</h2>
        </div>
        </div>
        <div class="bs-wrap bs-col-20">
            <div class="bs-col bs-col-12 small-display">
            <h1>476</h1>
            <h2>TIER 4 PURCHASES</h2>
        </div>
            <div class="bs-col bs-col-12 small-display">
            <h1>20</h1>
            <h2>WEBSITE SPONSORS</h2>
        </div>
        </div>
        <div class="bs-wrap bs-col-20">
            <div class="bs-col bs-col-12 small-display">
            <h1>7</h1>
            <h2>BROADCAST SPONSORS</h2>
        </div>
            <div class="bs-col bs-col-12 small-display">
            <h1>3</h1>
            <h2>EVENT SPONSORS</h2>
        </div>
        </div>
    </section>
    <section class="grid-50-a">
        <h1 class="title-left">TOURNAMENTS</h1>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>21,015</h1>
            <h2>TOURNAMENTS</h2>
        </div>
            <div class="bs-col bs-col-25 small-display">
            <h1>410<i class="fas fa-caret-up"></i></h1>
            <h2>TOURNAMENTS THIS MONTH</h2>
        </div>
        </div>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>298<i class="fas fa-caret-up"></i></h1>
            <h2>STREAMS THIS MONTH</h2>
        </div>
            <div class="bs-col bs-col-25 small-display">
            <h1>298<i class="fas fa-caret-up"></i></h1>
            <h2>STREAMS THIS MONTH</h2>
        </div>
        </div>
    </section>
    <section class="grid-50-a">
        <h1 class="title-left">BOWLERS</h1>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>12,490<i class="fas fa-caret-up"></i></h1>
            <h2>TOTAL BOWLERS</h2>
        </div>
            <div class="bs-col bs-col-25 small-display">
            <h1>812<i class="fas fa-caret-up"></i></h1>
            <h2>NEW THIS MONTH</h2>
        </div>
        </div>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>2,513<i class="fas fa-caret-down" style="color:#D45959;"></i></i></h1>
            <h2>ACTIVE THIS WEEK</h2>
        </div>
            <div class="bs-col bs-col-25 small-display">
            <h1>2,513<i class="fas fa-caret-down" style="color:#D45959;"></i></i></h1>
            <h2>ACTIVE THIS WEEK</h2>
        </div>
        </div>
    </section>
    <section class="grid-50-a">
        <h1 class="title-left">FINANCIALS 2021 | INCOME</h1>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>$721,015</h1>
            <h2>NET ENTRY FEE</h2>
        </div>
            <div class="bs-col bs-col-25 small-display">
            <h1>$8,258,734</h1>
            <h2>NET SPONSORS</h2>
        </div>
        </div>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>$246,284</h1>
            <h2>NET DONATIONS</h2>
        </div>
            <div class="bs-col bs-col-25 small-display">
            <h1>$9,266,174</h1>
            <h2>NET TOTAL INCOME</h2>
        </div>
        </div>
    </section>
    <section class="grid-50-a">
        <h1 class="title-left">FINANCIALS 2021 | EXPENSE</h1>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>$421,525</h1>
            <h2>PRIZE FUNDS</h2>
        </div>
        <div class="bs-col bs-col-25 small-display">
            <h1>$265,734</h1>
            <h2>LINEAGE</h2>
        </div>
        </div>
        <div class="bs-wrap bs-col-50">
            <div class="bs-col bs-col-25 small-display">
            <h1>$296,514</h1>
            <h2>PAYROLL</h2>
        </div>
        <div class="bs-col bs-col-25 small-display">
            <h1>$978,092</h1>
            <h2>TOTAL EXPENSES</h2>
        </div>
        </div>
    </section>
</div>

{% endblock %}