{% extends 'prolink_base_layout.html' %}
{% load static %}
{% block content %}
<script src="{% static 'prolink/js/vertical-center-sc.js' %}"></script>
<script src="{% static 'prolink/js/sc-menus.js' %}"></script>

<section class="sc center-vertically">
    <div class="sc-sidebar sc-30">
        <h2 class="sc-title-1">PROGRAM SETTINGS</h2>
        <a class="selected">GENERAL<i class="fa fa-chevron-left"></i></a>
        <a>CACHE<i class="fa fa-chevron-left"></i></a>
        <a>UPDATE<i class="fa fa-chevron-left"></i></a>
        <a>ABOUT<i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="sc-content sc-70">
        <div class="sc-content-page sc-p-1">
            <h2 class="sc-title-2">GENERAL</h2>

        </div>
        <div class="sc-content-page sc-p-2">
            <h2 class="sc-title-2">CACHE</h2>
            <div class="sr sr-cache">
                <div class="bar">

                </div>

            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
        <div class="sc-content-page sc-p-3">
            <h2 class="sc-title-2">UPDATE</h2>
            <div class="sr sr-header">
                <h1>Select the Team Size</h1>
            </div>
            <div class="sr sr-dropfield">
                <label>Team Size</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <select>
                  <option value="volvo">Singles</option>
                  <option value="saab">Doubles</option>
                  <option value="fiat">Trios</option>
                  <option value="audi">4 Man</option>
                  <option value="audi">5 Man</option>
                </select>
            </div>
            <div class="sr sr-header">
                <h1>Team Options</h1>
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
        <div class="sc-content-page sc-p-4">
            <h2 class="sc-title-2">ABOUT</h2>
            <div class="sr sr-header">
                <h1>Select the Format</h1>
            </div>
            <div class="sr sr-textfield">
                <label>Search</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="text" placeholder="">
            </div>
            <div class="sr sr-header">
                <h1>Format Options</h1>
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
    </div>
</section>
<script src="{% static 'prolink/js/load/cache-display.js' %}"></script>
{% endblock %}