{% extends 'prolink_base_layout.html' %}
{% load static %}
{% block content %}
<script src="{% static 'prolink/js/vertical-center-sc.js' %}"></script>
<script src="{% static 'prolink/js/sc-menus.js' %}"></script>
<script src="{% static 'prolink/js/autofield.js' %}"></script>

<section class="sc center-vertically">
    <div class="sc-sidebar sc-30">
        <h2 class="sc-title-1">CREATE A TOURNAMENT</h2>
        <a class="selected">1. START<i class="fa fa-chevron-left"></i></a>
        <a>2. CENTER<i class="fa fa-chevron-left"></i></a>
        <a>3. TEAMS<i class="fa fa-chevron-left"></i></a>
        <a>4. FORMAT<i class="fa fa-chevron-left"></i></a>
        <a>5. OIL PATTERN<i class="fa fa-chevron-left"></i></a>
        <a>6. FINANCIAL<i class="fa fa-chevron-left"></i></a>
        <a>7. BLOCKS<i class="fa fa-chevron-left"></i></a>
        <a>8. SOCIAL<i class="fa fa-chevron-left"></i></a>
        <a>9. OVERVIEW<i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="sc-content sc-70">
        <div class="sc-content-page sc-p-1">
            <h2 class="sc-title-2">START</h2>
            <div class="sr sr-header">
                <h1>Basic Information</h1>
            </div>
            <div class="sr sr-textfield">
                <label>Tournament Name</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="text" placeholder="">
            </div>
            <div class="sr sr-textarea">
                <label>Tournament Description</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <div class="wrap">
                    <textarea></textarea>
                </div>
            </div>
            <div class="sr sr-datefield">
                <label>Start Date</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="date">
            </div>
            <div class="sr sr-timefield">
                <label>Start Time</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="time">
            </div>
            <div class="sr sr-header">
                <h1>Options</h1>
            </div>
            <div class="sr sr-checkbox">
                <label>Enable Stream Sync</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="checkbox">
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
        <div class="sc-content-page sc-p-2">
            <h2 class="sc-title-2">CENTER</h2>
            <div class="sr sr-header">
                <h1>Select the Bowling Center</h1>
            </div>
            <div class="sr sr-autofield">
                <label>Search</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">Begin typing the name or location of the bowling center you wish to select.</span></a></p>
                <input type="text" placeholder="" class="autofield-input" data="centers">
                <div class="autofield-wrap">
                    <div class="scroll-wrap">

                    </div>
                </div>
            </div>
            <div class="sr sr-header">
                <h1>Event Specific Information</h1>
            </div>
            <div class="sr sr-textarea">
                <label>Special Notes</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <div class="wrap">
                    <textarea></textarea>
                </div>
            </div>
            <div class="sr sr-checkbox">
                <label>Cafe Available</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="checkbox">
            </div>
            <div class="sr sr-checkbox">
                <label>Bar Available</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="checkbox">
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
        <div class="sc-content-page sc-p-3">
            <h2 class="sc-title-2">TEAMS</h2>
            <div class="sr sr-header">
                <h1>Select the Team Size</h1>
            </div>
            <div class="sr sr-dropfield">
                <label>Team Size</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <select>
                  <option value="volvo">Singles</option>
                  <option value="saab">Doubles</option>
                  <option value="fiat">Trios</option>
                  <option value="audi">4 Man</option>
                  <option value="audi">5 Man</option>
                </select>
            </div>
            <div class="sr sr-header">
                <h1>Team Options</h1>
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
        <div class="sc-content-page sc-p-4">
            <h2 class="sc-title-2">FORMAT</h2>
            <div class="sr sr-header">
                <h1>Select the Format</h1>
            </div>
            <div class="sr sr-textfield">
                <label>Search</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="text" placeholder="">
            </div>
            <div class="sr sr-header">
                <h1>Format Options</h1>
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
        <div class="sc-content-page sc-p-5">
            <h2 class="sc-title-2">OIL PATTERN</h2>
            <div class="sr sr-header">
                <h1>Select Oil Pattern #1</h1>
            </div>
            <div class="sr sr-autofield">
                <label>Search</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">Begin typing the name or location of the bowling center you wish to select.</span></a></p>
                <input type="text" placeholder="" class="autofield-input" data="oils">
                <div class="autofield-wrap">
                    <div class="scroll-wrap">

                    </div>
                </div>
            </div>
            <div class="sr sr-header">
                <h1>Select Oil Pattern #2</h1>
            </div>
            <div class="sr sr-autofield">
                <label>Search</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">Begin typing the name or location of the bowling center you wish to select.</span></a></p>
                <input type="text" placeholder="" class="autofield-input" data="oils">
                <div class="autofield-wrap">
                    <div class="scroll-wrap">

                    </div>
                </div>
            </div>
            <div class="sr sr-header">
                <h1>Select Oil Pattern #3</h1>
            </div>
            <div class="sr sr-autofield">
                <label>Search</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">Begin typing the name or location of the bowling center you wish to select.</span></a></p>
                <input type="text" placeholder="" class="autofield-input" data="oils">
                <div class="autofield-wrap">
                    <div class="scroll-wrap">

                    </div>
                </div>
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
        <div class="sc-content-page sc-p-6">
            <h2 class="sc-title-2">FINANCIAL</h2>
            <div class="sr sr-header">
                <h1>Bowler Entry Fee</h1>
            </div>
            <div class="sr sr-textfield">
                <label>Cost of Lineage</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="number" placeholder="">
            </div>
            <div class="sr sr-textfield">
                <label>Expense Fee</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="number" placeholder="">
            </div>
            <div class="sr sr-textfield">
                <label>Prize Fund</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="number" placeholder="">
            </div>
            <div class="sr sr-header">
                <h1>Event Sponsors</h1>
            </div>
            <div class="sr sr-doubletextfield">
                <label>Sponsor Name</label>
                <label>Amount</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="text" placeholder="">
                <input type="number" placeholder="" style="top:55">
            </div>
            <div class="sr sr-addabove">
                <div>
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
        <div class="sc-content-page sc-p-7">
            <h2 class="sc-title-2">BLOCKS</h2>
            <div class="sr sr-header">
                <h1>Enter Blocks</h1>
            </div>
            <div class="sr sr-tripletextfield">
                <label>Number of Pairs</label>
                <label>Start Date</label>
                <label>Start Time</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="number">
                <input type="date" placeholder="" style="top:55">
                <input type="time" placeholder="" style="top:95">
            </div>
            <div class="sr sr-addabove">
                <div>
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="CONTINUE" class="sc-next">
            </div>
        </div>
        <div class="sc-content-page sc-p-8">
            <h2 class="sc-title-2">SOCIAL</h2>
            <div class="sr sr-header">
                <h1>Auto Post</h1>
            </div>
            <div class="sr sr-datefield">
                <label>Post Date</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="date">
            </div>
            <div class="sr sr-timefield">
                <label>Post Time</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="time">
            </div>
            <div class="sr sr-header">
                <h1>Platforms</h1>
            </div>
            <div class="sr sr-checkbox">
                <label>Facebook</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="checkbox" checked>
            </div>
            <div class="sr sr-checkbox">
                <label>Instagram</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="checkbox" checked>
            </div>
            <div class="sr sr-checkbox">
                <label>Twitter</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="checkbox" checked>
            </div>
            <div class="sr sr-checkbox">
                <label>Reddit</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="checkbox" checked>
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="PUBLISH">
            </div>
        </div>
        <div class="sc-content-page sc-p-9">
            <h2 class="sc-title-2">OVERVIEW</h2>
            <div class="sr sr-header">
                <h1>Financial Estimate</h1>
            </div>
            <div class="sr sr-textfield">
                <label>Amount of Entries</label>
                <p>What is this? <a><i class="fas fa-question-circle"></i><span class="sc-tip">This is the default tooltip text for this form field. Use this to describe something here i guess. </span></a></p>
                <input type="number" placeholder="">
            </div>
            <div class="sr sr-pie-graph">
                <div class="chart"></div>
                <div class="table">
                    <a class="pie-1"><i class="fa fa-circle"></i>20% Lineage <span>($40,901)</span></a>
                    <a class="pie-2"><i class="fa fa-circle"></i>20% Expenses <span>($39,815)</span></a>
                    <a class="pie-3"><i class="fa fa-circle"></i>38% Prize Fund <span>($74,424)</span></a>
                    <a class="pie-4"><i class="fa fa-circle"></i>22% Left Over <span>($43,241)</span></a>
                    <a>Total NET <span>($201,264)</span></a>
                </div>
            </div>
            <div class="sc-submit-1">
                <input type="submit" value="PREVIOUS" class="sc-prev">
                <input type="submit" value="PUBLISH">
            </div>
        </div>
    </div>
</section>
{% endblock %}