{% load static %}

<section class="sec app-prev">
    <h2>OUR NEW MOBILE APP</h2>
    <p>Try the BETA release of our app!<br>Now available on the app store.</p>
    <a class="btn bkg-darkgreen text-white">VISIT APP STORE</a>
    <div class="app-prev-phone">
        <span class="app-prev-phone-n1"><i></i> <span></span></span>
        <span class="app-prev-phone-n2"><div></div></span>
        <span class="app-prev-phone-n3"><div></div></span>
        <img src="{% static 'img/SBS_Logo_Beta.png' %}" ref="Scratch Bowling Series">
    </div>
</section>