{% load static %}

<section class="sec app-prev bkg-white">
    <h2 class="text-darkgreen">OUR NEW MOBILE APP</h2>
    <p class="text-darkgreen">Try the BETA release of our app!<br>Now available on the app store.</p>
    <a class="btn bkg-darkgreen text-white">VISIT APP STORE</a>
    <div class="phone">
        <span><i></i> <span></span></span>
        <span><div></div></span>
        <span><div></div></span>
        <img class="filter-darkgreen" src="{% static 'img/SBS_Logo_Beta.png' %}" ref="Scratch Bowling Series">
    </div>
</section>