{% load basic-tags %}

{% if bom %}

    <section class="sec bowler-of-month bkg-white">
        <h2 class="pv-bom-title text-darkgreen">BOWLER OF THE MONTH</h2>

        <div class="pv-bom-main">
            <div class="pv-bom-pic-wrap">
                <a class="pv-bom-pic" href="account/view/{{ bom.id }}">
                    <img src="{{ bom.picture }}" alt="{{ bom.name }}'s profile picture">
                </a>
            </div>
            <div class="pv-bom-info">
                <a href="account/view/{{ bom.id }}" class="pv-bom-name text-darkgreen">{{ bom.name }}</a>
                <a href="account/view/{{ bom.id }}" class="pv-bom-location text-grey">{{ bom.location }}</a>
            </div>
        </div>
        {% if bom.statistics %}
        <div class="pv-bom-details">
            <div class="pv-bom-details-wrap">
                 <h2 class="text-darkgreen">SEASON STATS</h2>
                <ul>
                    <li class="text-darkgreen">AVG SCORE: <span>{{ bom.statistics.season.0 }}</span></li>
                    <li class="text-darkgreen">TOTAL GAMES: <span>{{ bom.statistics.season.1 }}</span></li>
                    <li class="text-darkgreen">TOTAL WINS: <span>{{ bom.statistics.season.2 }}</span></li>
                </ul>
                <h2 class="text-darkgreen">CAREER STATS</h2>
                <ul>
                    <li class="text-darkgreen">AVG SCORE: <span>{{ bom.statistics.career.0 }}</span></li>
                    <li class="text-darkgreen">TOTAL GAMES: <span>{{ bom.statistics.career.1 }}</span></li>
                    <li class="text-darkgreen">TOTAL WINS: <span>{{ bom.statistics.career.2}}</span></li>
                </ul>
            </div>
        </div>
        {% endif %}
        <a class="btn btn-full text-white bkg-darkgreen border-darkgreen margin-vertical" href="account/view/{{ bom.id }}">VISIT PROFILE</a>
    </section>

{% endif %}