<!---
BASIC FEATURED TOURNAMENT SNIPPET
-->
{% if tournament %}
    <section class="sec featured-tournament bkg-white">
        <div class="preview">
            <img src="{{ tournament.picture }}" alt="{{ tournament.name }}">
        </div>
        <section class="content">
            <a class="featured">FEATURED TOURNAMENT</a>
            <a class="title text-darkgreen" href="tournaments/view/{{ tournament.id }}">{{ tournament.name }}</a>
            <a class="date"
               href="tournaments/view/{{ tournament.id }}">{{ tournament.date|date:'m/d' }}
                - {{ tournament.name|none_replace:"Center Unknown" }}</a>
            <a class="description text-darkgreen"
               href="tournaments/view/{{ tournament.id }}">{{ tournament.description|truncatechars:120|none_replace:"This is the default placeholder description for a tournament. If you're seeing this, it is because a description has not been set." }}</a>
            <div class="stats">
                {% for winner in tournament.winners %}
                    <div class="player">
                        <a class="rank {% if winner.place == '1st' %}text-tan border-tan{% else %}text-darkgreen border-darkgreen{% endif %}">{{ winner.place }}</a>
                        <a class="name text-darkgreen" href="/account/view/{{ winner.id }}">{{ winner.name }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="btn-bar-right more margin-bottom ">
                <a class="btn btn-medium bkg-darkgreen text-white"
                   href="tournaments/view/{{ tournament.id }}">VIEW RESULTS</a>
            </div>
        </section>
    </section>
{% endif %}