<section class="sec play-steps">
    <div class="step">
        <i class="icon-user-alt"></i>
        <h3>CREATE AN ACCOUNT</h3>
        <p>Join over <span>32</span> active bowlers near <span>Flint, Michigan</span>!</p>
    </div>
    <div class="next">
        <i class="icon-arrow-right"></i>
    </div>
    <div class="step">
        <i class="icon-user-plus"></i>
        <h3>JOIN A TOURNAMENT</h3>
        <p>Find a tournament near you and join the roster!</p>
    </div>
    <div class="next">
        <i class="icon-arrow-right"></i>
    </div>
    <div class="step">
        <i class="icon-user-check"></i>
        <h3>CHECK IN ON ARRIVAL</h3>
        <p>Check in using the new <a href="#">Bowler Companion App</a>.</p>
    </div>
    <div class="next">
        <i class="icon-arrow-right"></i>
    </div>
    <div class="step">
        <i class="icon-trophy text-tan"></i>
        <h3>PLAY & WIN</h3>
        <p>Play for huge prizes and track all your statistics!</p>
    </div>
</section>