<section class="sec play-steps bkg-white">
    <div class="step">
        <i class="icon-user-alt text-darkgreen"></i>
        <h3 class="text-darkgreen">CREATE AN ACCOUNT</h3>
        <p class="text-darkgreen">Join over <span>32</span> active bowlers near <span>Flint, Michigan</span>!</p>
    </div>
    <div class="next">
        <i class="icon-arrow-right text-darkgreen"></i>
    </div>
    <div class="step">
        <i class="icon-user-plus text-darkgreen"></i>
        <h3 class="text-darkgreen">JOIN A TOURNAMENT</h3>
        <p class="text-darkgreen">Find a tournament near you and join the roster!</p>
    </div>
    <div class="next">
        <i class="icon-arrow-right text-darkgreen"></i>
    </div>
    <div class="step">
        <i class="icon-user-check text-darkgreen"></i>
        <h3 class="text-darkgreen">CHECK IN ON ARRIVAL</h3>
        <p class="text-darkgreen">Check in using the new <a href="#">Bowler Companion App</a>.</p>
    </div>
    <div class="next">
        <i class="icon-arrow-right text-darkgreen"></i>
    </div>
    <div class="step">
        <i class="icon-trophy text-tan"></i>
        <h3 class="text-darkgreen">PLAY & WIN</h3>
        <p class="text-darkgreen">Play for huge prizes and track all your statistics!</p>
    </div>
</section>