<!---
BASIC RECENT TOURNAMENT WINNERS SNIPPET
-->
<section class="sec bkg-darkgreen">
    <h2 class="text-white">TOURNAMENT WINNERS</h2>
    <div class="rows">
        {% for data in datas %}
        <div class="row">
            <a class="date text-white primary-font">{{ data.date|date:'m/d' }}</a>
            <a class="entry" href="/account/view/{{ data.user_id }}">
                <span class="text-white span-white">{{ data.name }}</span>
            </a>
            <a class="btn btn-small bkg-white text-darkgreen" href="/tournaments/view/{{ data.tournament_id }}">RESULTS</a>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'tournaments:results' %}" class="btn btn-full bkg-white text-darkgreen margin-vertical">ALL TOURNAMENT RESULTS</a>
</section>






