<!---
BASIC RECENT TOURNAMENT WINNERS SNIPPET

[0] tournament id
[1] tournament name
[2] tournament date
[3] winner id
[4] winner first_name
[5] winner last_name
-->
<section class="sec bkg-darkgreen">
    <h2 class="text-white">TOURNAMENT WINNERS</h2>
    {% for data in datas %}
        <div class="row-b">
            <a class="row-b-c row-b-c1 text-white primary-font">{{ data.2 }}</a>
            <a class="row-b-c row-b-c2 text-white span-white" href="/account/view/{{ data.3 }}">{{ data.4 }} {{ data.5 }}</a>
            <a class="row-b-btn btn btn-small bkg-white text-lightgreen border-white" href="/tournaments/view/{{ data.0 }}">RESULTS</a>
        </div>
    {% endfor %}
    <a href="{% url 'tournaments:results' %}" class="btn btn-full bkg-white text-lightgreen border-darkgreen">ALL TOURNAMENT RESULTS</a>
</section>






