{% load static %}

<section class="sec stream-highlights">
    <h2>LIVE STREAM HIGHLIGHTS</h2>
    <a href="#" class="btn btn-medium">VIEW MORE</a>
    <div class="wrap">
        <div class="clip">
            <div class="img-wrap">
                <img src="{% static 'img/stream-preview_1.png' %}" ref="Scratch Bowling Series">
            </div>
            <a>Stream clip name placeholder text.</a>
            <p>02/25 @ Center Name</p>
        </div>
        <div class="clip">
            <div class="img-wrap">
                <img src="{% static 'img/stream-preview_2.png' %}" ref="Scratch Bowling Series">
            </div>
            <a>Stream clip name placeholder text.</a>
            <p>02/25 @ Center Name</p>
        </div>
        <div class="clip">
            <div class="img-wrap">
                <img src="{% static 'img/stream-preview_3.png' %}" ref="Scratch Bowling Series">
            </div>
            <a>Stream clip name placeholder text.</a>
            <p>02/25 @ Center Name</p>
        </div>
    </div>
</section>



<!--
<section class="sec pv-live">
                <h2>LIVE STREAM HIGHLIGHTS</h2>
                <div class="pv-live-wrap">
                    {% for clip in broadcast_clips %}
                        <div class="pv-live-item" clipId="{{ clip.0 }}">
                            <img src="{{ clip.4 }}" ref="'{{ clip.1 }}' clip thumbnail image.">
                            <a class="title">{{ clip.1 }}</a>
                            <a class="detail">{{ clip.2 }} @ Center Unknown</a>
                        </div>
                    {% endfor %}
                    <a class="btn btn-full text-white bkg-darkgreen" href="#">MORE HIGHLIGHTS</a>
                </div>
            </section>

-->