{% load static %}

<section class="sec stream-highlights">
    <h2>LIVE STREAM HIGHLIGHTS</h2>
    <a href="#" class="btn btn-medium">VIEW MORE</a>
    <div class="wrap">
        <div class="clip">
            <div class="img-wrap">
                <img src="{% static 'img/stream-preview_1.png' %}" ref="Scratch Bowling Series">
            </div>
            <a>Stream clip name placeholder text.</a>
            <p>02/25 @ Center Name</p>
        </div>
        <div class="clip">
            <div class="img-wrap">
                <img src="{% static 'img/stream-preview_2.png' %}" ref="Scratch Bowling Series">
            </div>
            <a>Stream clip name placeholder text.</a>
            <p>02/25 @ Center Name</p>
        </div>
        <div class="clip">
            <div class="img-wrap">
                <img src="{% static 'img/stream-preview_3.png' %}" ref="Scratch Bowling Series">
            </div>
            <a>Stream clip name placeholder text.</a>
            <p>02/25 @ Center Name</p>
        </div>
    </div>
</section>