<section class="sec">
    <h2>UPCOMING TOURNAMENTS</h2>
    <div class="rows">
        {% for tournament in tournaments %}
            <div class="row {% if for.last %}highlighted-row{% endif %}">
                <a class="date primary-font text-darkgreen">{{ tournament.datetime|date:"m/d" }}</a>
                <a class="entry">
                    <span class="text-darkgreen">
                    {{ tournament.name }}
                    </span>
                </a>
                <a class="btn btn-small bkg-darkgreen text-white" href="/tournaments/view/{{ tournament.id }}">VIEW</a>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'tournaments:upcoming' %}" class="btn btn-full text-white bkg-darkgreen margin-vertical">UPCOMING TOURNAMENTS</a>
</section>