{% extends 'base_layout.html' %}

{% block content %}
<div class="col col-30 col-m-max-width">
  <section class="sec">
    <h1>ACCOUNT LOG IN {{result}}</h1>
    <form class="standard-form" action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}
      <label class="standard-form-label">EMAIL ADDRESS</label>
      {{ form.username }}
      <label class="standard-form-label">PASSWORD</label>
      {{ form.password }}
      <a class="standard-form-forgot">Forgot Password?</a>
      <div class="standard-form-buttons">
        <a class="standard-button button-offset" href="/account/signup">SIGN-UP</a>
        <input class="btn" type="submit" name="" value="LOG IN">
      </div>
    </form>
  </section>
</div>
{% endblock %}
