{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/profile-counters.js' %}"></script>
<script src="{% static 'js/account-view-align.js' %}"></script>
<script src="{% static 'js/three.js' %}"></script>

<!-- Profile Preview -->
<section class="col col-20 col-m-max-width">
   <section class="profile-prev sec my-account-top-height">
      <!-- SHARE -->
      <a class="share-page profile-share"><i class="icon-share-alt"></i></a>

      <!-- INFO -->
      <div class="profile-prev-pic">
         <img src="{{ view_user.picture.url }}" alt="{{ view_user.first_name}}'s profile picture">
      </div>
      <h1>{{view_user.first_name|none_replace:'First Name '}}&nbsp;{{view_user.last_name|none_replace:'Last Name '}}</h1>
      <a>{{ view_user.bio|none_replace:'Bio Empty' }}</a>
      <span class="std-underline"></span>
      <a>Member Since {{ view_user.date_joined.year}}</a>
      <span class="std-underline"></span>
      <a>{{ view_user.location_city|none_replace:'City' }}, {{ view_user.location_state|none_replace:'State' }}</a>
      <!-- HANDS -->
      <div class="profile-hands">
         {% if view_user.left_handed == True and view_user.right_handed == False %}
         <span class="std-underline"></span>
         <i class="profile-hand profile-left-hand icon-hand-paper"></i>&nbsp;<i class="profile-hand icon-hand-paper hand-off"></i><a class="profile-hand-label">LEFT HANDED</a><br>
         {% elif view_user.left_handed == False and view_user.right_handed == True %}
         <span class="std-underline"></span>
         <i class="profile-hand profile-left-hand icon-hand-paper hand-off"></i>&nbsp;<i class="profile-hand icon-hand-paper"></i><a class="profile-hand-label">RIGHT HANDED</a><br>
         {% elif view_user.left_handed == True and view_user.right_handed == True %}
         <span class="std-underline"></span>
         <i class="profile-hand profile-left-hand icon-hand-paper"></i>&nbsp;<i class="profile-hand icon-hand-paper"></i><a class="profile-hand-label">TWO HANDED</a><br>
         {% endif %}
      </div>
      <!-- Buttons -->
      {% if view_user.user_id == request.user.user_id %}
      <div class="profile-prev-btns">
         <a class="btn" href="{% url 'accounts:modify' %}">MODIFY</a>
         <a class="btn" href="{% url 'accounts:logout' %}">LOG OUT</a>
      </div>
      {% elif view_user.user_id|is_friend:request.user is True %}
      <div class="profile-prev-btns">
         <a class="btn bkg-darkgreen text-white" href="{% url 'accounts:remove' id=view_user.user_id %}"><i class="icon-user-alt text-white"></i>FRIENDS</a>
         <a class="btn" href="{% url 'accounts:modify' %}">MESSAGE</a>
      </div>
      {% elif view_user.user_id|is_friend:request.user is False %}
      <div class="profile-prev-btns">
         <a class="btn" href="{% url 'accounts:add' id=view_user.user_id %}"><i class="icon-user-plus"></i>REQUEST</a>
         <a class="btn" href="{% url 'accounts:modify' %}">MESSAGE</a>
      </div>
      {% else %}
      <div class="profile-prev-btns">
         <a class="btn btn-full bkg-darkgreen text-white" href="{% url 'accounts:login' %}">LOG IN FOR MORE</a>
      </div>
      {% endif %}
   </section>
</section>

<!-- Past Tournament Results -->
<section class="col col-30 col-m-max-width" >
   <section class="sec my-account-top-height">
      <h1>PAST TOURNAMENT RESULTS</h1>
      {% if tournaments_length > 0 %}
      <div class="profile-results">
         {% for tournament in tournaments %}
            <div class="profile-result">
               <a class="profile-result-date">{{ tournament.1|date:"m/d"}}</a>
               <a class="profile-result-name" href="/tournaments/view/{{ tournament.0 }}">{{ tournament.2|truncatechars:20 }}</a>
               <a class="profile-result-location text-darkgrey">{{ tournament.3 }}</a>
               <a class="profile-result-place{% if tournament.4 == '1st' %} firstplace{% endif %}{% if tournament.4 == 'DNF' %} notfinish{% endif %}">{{ tournament.4 }}</a>
            </div>
         {% endfor %}
      </div>
      <a class="btn btn-medium btn-bottom bkg-darkgreen text-white unavailable-btn" style="left:auto;">VIEW ALL TOURNAMENT RESULTS</a>
      {% else %}
         {% if view_user.user_id == request.user.user_id %}
            <p class="profile-none">ATTEND YOUR FIRST TOURNAMENT TO SEE YOUR STATISTICS</p>
            <a class="btn btn-medium btn-bottom bkg-darkgreen text-white unavailable-btn" style="left:auto;text-transform:uppercase;">FIND AN UPCOMING TOURNAMENT</a>
         {% else %}
            <p class="profile-none">{{ view_user.first_name|none_replace:'First Name'}} HAS YET TO ATTEND A TOURNAMENT</p>
            <a class="btn btn-medium btn-bottom bkg-darkgreen text-white unavailable-btn" style="left:auto;text-transform:uppercase;">INVITE {{ view_user.first_name|none_replace:'First Name'}} TO A TOURNAMENT</a>
         {% endif %}
      {% endif %}

   </section>
</section>

<!-- Current Season Stats -->
<section class="col col-25 col-m-max-width">
   <div class="sec my-account-top-height stats-grid">
      <h1>2021 SEASON STATS</h1>
      <div class="stat-quad">
         <h3 class="my-account-rank-label">2021 RANK</h3>
         <div class="counter counter-1">
            <ul class="counter-top">
               {{ rank_data.rank|counter:True|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad">
         <h3 class="my-account-rank-label">AVG. SCORE</h3>
         <div class="counter counter-2">
            <ul>
               {{ rank_data.avg_score_year|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad">
         <h3 class="my-account-rank-label">TOTAL GAMES</h3>
         <div class="counter counter-3">
            <ul>
               {{ rank_data.total_games_year|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad">
         <h3 class="my-account-rank-label">WINS</h3>
         <div class="counter counter-3">
            <ul>
               {{ rank_data.wins|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <a class="btn btn-medium btn-bottom bkg-darkgreen text-white unavailable-btn" style="left:auto;">VIEW BEST GAMES</a>
   </div>
</section>

<!-- Upcoming Tournaments Nearby -->
<section class="col col-25 col-m-max-width">
   {% if view_user.user_id == request.user.user_id %}
   <section class="sec my-account-top-height bkg-darkgreen">
      <h1 class="text-white">TOURNAMENTS NEAR YOU</h1>
      {% if tournaments_nearby_length > 0 %}
      <div class="profile-results">
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
      </div>
      {% else %}
      <p class="profile-none">YOU DON'T HAVE ANY TOURNAMENTS COMING SOON NEAR YOU.</p>
      {% endif %}
      <div class="profile-button-bar">

      </div>
      <a class="btn btn-medium btn-bottom bkg-white text-darkgreen unavailable-btn" style="left:auto;">GET SMS ALERTS</a>
   </section>
   {% else %}
   <section class="sec my-account-top-height bkg-darkgreen">
      <h1 class="text-white">STATISTICS COMPARISON</h1>

   </section>
   {% endif %}
</section>

<!-- Series History  &  Achievements-->
<section class="col col-50 col-m-max-width">
   <section class="sec" style="height:332px;">
      <h1>SERIES HISTORY</h1>
      <a class="active-series-label"><span></span>ACTIVE SERIES</a>
      <div class="profile-results">
         <div class="series-result series-label-wrap">
            <a class="series-name-label">SERIES NAME</a>
            <div class="series-data">
               <a class="series-label">ATTENDED</a>
               <a class="series-label">POINTS</a>
               <a class="series-label">AVERAGE</a>
               <a class="series-label">PLACE</a>
            </div>
         </div>
         <div class="series-result  active-series">
            <a class="series-name">SPRUMMER 2021</a>
            <div class="series-data">
               <a class="series-attended">6</a>
               <a class="series-points">475</a>
               <a class="series-average">201.3</a>
               <a class="series-place">26th</a>
            </div>
         </div>
         <div class="series-result">
            <a class="series-name">SPRUMMER 2021</a>
            <div class="series-data">
               <a class="series-attended">6</a>
               <a class="series-points">475</a>
               <a class="series-average">201.3</a>
               <a class="series-place">26th</a>
            </div>
         </div>
         <div class="series-result">
            <a class="series-name">SPRUMMER 2021</a>
            <div class="series-data">
               <a class="series-attended">6</a>
               <a class="series-points">475</a>
               <a class="series-average">201.3</a>
               <a class="series-place">26th</a>
            </div>
         </div>
         <div class="series-result">
            <a class="series-name">SPRUMMER 2021</a>
            <div class="series-data">
               <a class="series-attended">6</a>
               <a class="series-points">475</a>
               <a class="series-average">201.3</a>
               <a class="series-place">26th</a>
            </div>
         </div>
      </div>
      <a class="btn btn-medium btn-bottom bkg-darkgreen text-white unavailable-btn" style="left:auto;bottom:0px;">VIEW ALL SERIES HISTORY</a>
   </section>

   <section class="sec profile-medals">
      <h1>ACHIEVEMENTS</h1>
      <a class="profile-medal-none">NOT AVAILABLE IN ALPHA</a>
   </section>
</section>

<!-- Career Stats  & Medals -->
<section class="col col-50 col-m-max-width">
   <section class="sec" style="height:332px;">
      <h1>CAREER STATS</h1>
      <div class="stat-quad stat-quad-25">
         <h3 class="my-account-rank-label">WINS</h3>
         <div class="counter counter-4">
            <ul>
               {{ rank_data.wins|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad stat-quad-25">
         <h3 class="my-account-rank-label">ATTENDED</h3>
         <div class="counter counter-5">
            <ul>
               {{ rank_data.attended|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad stat-quad-25">
         <h3 class="my-account-rank-label">AVG. SCORE</h3>
         <div class="counter counter-6">
            <ul>
               {{ rank_data.avg_score_career|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad stat-quad-25">
         <h3 class="my-account-rank-label">TOTAL GAMES</h3>
         <div class="counter counter-7">
            <ul>
               {{ rank_data.total_games_career|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <a class="btn btn-medium btn-right bkg-darkgreen text-white unavailable-btn" style="margin-right:20px;margin-bottom:20px;">VIEW BEST GAMES</a>
      <a class="btn btn-medium btn-right bkg-grey text-darkgrey border-grey unavailable-btn" style="margin-right:10px;margin-bottom:20px;">REPORT ERROR</a>
   </section>

   <section class="sec profile-medals">
      <h1>MEDALS</h1>
      <a class="profile-medal-none">NOT AVAILABLE IN ALPHA</a>
   </section>
</section>

{% endblock %}