{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/profile-counters.js' %}"></script>
<script src="{% static 'js/account-view-align.js' %}"></script>
<script src="{% static 'js/three.js' %}"></script>

<!-- Profile Preview -->
<section class="col col-20 col-m-max-width">
   <section class="profile-prev sec my-account-top-height">
      <!-- SHARE -->
      <a class="share-page profile-share"><i class="icon-share-alt"></i></a>

      <!-- INFO -->
      <div class="profile-prev-pic">
         <img src="{{ user_data.picture }}">
      </div>
      <h1>{{ user_data.first_name}}&nbsp;{{ user_data.last_name }}</h1>
    {% if user_data.bio %}
      <a>{{ user_data.bio }}</a>
      <span class="std-underline"></span>
   {% endif %}
      <a>Member Since {{ user_data.year_joined }}</a>


    {% if user_data.state %}
        <span class="std-underline"></span>
        <a>{% if user_data.city %}{{ user_data.city }},{% endif %}&nbsp;{{ user_data.state }}</a>
    {% endif %}


      <!-- HANDS -->
      {% if user_data.handed != 0 %}
       <div class="profile-hands">
         <span class="std-underline"></span>
         <i class="profile-hand profile-left-hand icon-hand-paper {% if user_data.handed == 2 %}hand-off{% endif %}"></i>
         <i class="profile-hand icon-hand-paper {% if user_data.handed == 1 %}hand-off{% endif %}"></i>
         <a class="profile-hand-label">{% if user_data.handed == 1 %}LEFT{% elif user_data.handed == 2 %}RIGHT{% elif user_data.handed == 3 %}TWO{% endif %} HANDED</a><br>
      </div>
      {% endif %}



      <!-- Buttons -->
      <div class="profile-prev-btns">
      {% if user.is_authenticated %}
         {% if view_user.id == user.id %}
            <a class="btn" href="{% url 'accounts:modify' %}">MODIFY</a>
            <a class="btn" href="{% url 'accounts:logout' %}">LOG OUT</a>
         {% elif view_user.id %}
            <a class="btn bkg-darkgreen text-white" href="{% url 'accounts:remove' id=view_user.id %}"><i class="icon-user-alt text-white"></i>FRIENDS</a>
            <a class="btn" href="{% url 'accounts:modify' %}">MESSAGE</a>
         {% else %}
            <a class="btn" href=""><i class="icon-user-plus"></i>REQUEST</a>
            <a class="btn" href="{% url 'accounts:modify' %}">MESSAGE</a>
         {% endif %}
      {% else %}
         <a class="btn btn-full bkg-darkgreen text-white" href="{% url 'accounts:login' %}">LOG IN FOR MORE</a>
      {% endif %}
      </div>



   </section>
</section>

<!-- Past Tournament Results -->
<section class="col col-30 col-m-max-width" >
   <section class="sec my-account-top-height">
      <h1>PAST TOURNAMENT RESULTS</h1>
      {% if attended_tournaments %}
      <div class="profile-results">
         {% for tournament in attended_tournaments %}
            <div class="profile-result">
               <a class="profile-result-date">{{ tournament.1|date:"m/d"}}</a>
               <a class="profile-result-name" href="/tournaments/view/{{ tournament.0 }}">{{ tournament.2|truncatechars:20 }}</a>
               <a class="profile-result-location text-darkgrey">{{ tournament.3 }}</a>
               <a class="profile-result-place{% if tournament.4 == '1st' %} firstplace{% endif %}{% if tournament.4 == 'DNF' %} notfinish{% endif %}">{{ tournament.4 }}</a>
            </div>
         {% endfor %}
      </div>
      <div class="btn-bar-right">
        <a class="btn btn-medium bkg-darkgreen text-white unavailable-btn" style="left:auto;">VIEW ALL TOURNAMENT RESULTS</a>
      </div>
      {% else %}
         {% if view_user.id == request.user.id %}
             <div class="profile-results">
                <p class="profile-none">ATTEND YOUR FIRST TOURNAMENT TO SEE YOUR STATISTICS</p>
             </div>
             <div class="btn-bar-right">
                <a class="btn btn-medium bkg-darkgreen text-white unavailable-btn">FIND AN UPCOMING TOURNAMENT</a>
             </div>
         {% else %}
            <div class="profile-results">
                <p class="profile-none">{{ user_data.first_name }} HAS YET TO ATTEND A TOURNAMENT</p>
            </div>
            <div class="btn-bar-right">
                <a class="btn btn-medium bkg-darkgreen text-white unavailable-btn" style="left:auto;text-transform:uppercase;">INVITE {{ view_user.first_name|none_replace:'First Name'}} TO A TOURNAMENT</a>
            </div>
         {% endif %}
      {% endif %}
   </section>
</section>

<!-- Current Season Stats -->
<section class="col col-25 col-m-max-width">
   <div class="sec my-account-top-height stats-grid">
      <h1>2021 SEASON STATS</h1>
      <div class="stat-quad">
         <h3 class="my-account-rank-label">2021 RANK</h3>
         <div class="counter counter-1">
            <ul class="counter-top">
               {{ rank_data.rank|counter:True|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad">
         <h3 class="my-account-rank-label">AVG. SCORE</h3>
         <div class="counter counter-2">
            <ul>
               {{ rank_data.avg_score_year|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad">
         <h3 class="my-account-rank-label">TOTAL GAMES</h3>
         <div class="counter counter-3">
            <ul>
               {{ rank_data.total_games_year|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad">
         <h3 class="my-account-rank-label">WINS</h3>
         <div class="counter counter-3">
            <ul>
               {{ rank_data.wins|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="btn-bar-right btn-bottom">
        <a class="btn btn-medium bkg-darkgreen text-white unavailable-btn margin-right margin-bottom">VIEW MORE STATISTICS</a>
      </div>
   </div>
</section>

<!-- Upcoming Tournaments Nearby -->
<section class="col col-25 col-m-max-width">
   {% if view_user.id == request.user.id %}
   <section class="sec my-account-top-height bkg-darkgreen">
      <h1 class="text-white">TOURNAMENTS NEAR YOU</h1>
      <div class="profile-results">
      {% if tournaments_nearby %}
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
         <div class="profile-result">
            <a class="profile-result-date text-white">06/26</a>
            <a class="profile-result-name text-white" href="/tournaments/view/{{ tournament.4 }}">Tournament Name</a>
            <a class="profile-result-location text-white">City, State</a>
            <a class="profile-result-place text-white">54mi</a>
         </div>
      {% else %}
      <p class="profile-none text-lightgrey">WE COULD NOT FIND ANY TOURNAMENTS NEAR YOU</p>
          <a class="profile-none-btn text-lightgrey">CHANGE SEARCH RADIUS</a>
      {% endif %}
      </div>
      <div class="btn-bar-right">
          <a class="btn btn-medium bkg-white text-darkgreen unavailable-btn">GET SMS ALERTS</a>
      </div>
   </section>
   {% else %}
   <section class="sec my-account-top-height bkg-darkgreen">
      <h1 class="text-white">STATISTICS COMPARISON</h1>

   </section>
   {% endif %}
</section>

<!-- Series History  &  Achievements-->
<section class="col col-50 col-m-max-width">
   <section class="sec" style="height:332px;">
      <h1>SERIES HISTORY</h1>
      <a class="active-series-label"><span></span>ACTIVE SERIES</a>
      <div class="profile-results">
         <div class="series-result series-label-wrap">
            <a class="series-name-label">SERIES NAME</a>
            <div class="series-data">
               <a class="series-label">ATTENDED</a>
               <a class="series-label">POINTS</a>
               <a class="series-label">AVERAGE</a>
               <a class="series-label">PLACE</a>
            </div>
         </div>
         <div class="series-result  active-series">
            <a class="series-name">SPRUMMER 2021</a>
            <div class="series-data">
               <a class="series-attended">6</a>
               <a class="series-points">475</a>
               <a class="series-average">201.3</a>
               <a class="series-place">26th</a>
            </div>
         </div>
         <div class="series-result">
            <a class="series-name">SPRUMMER 2021</a>
            <div class="series-data">
               <a class="series-attended">6</a>
               <a class="series-points">475</a>
               <a class="series-average">201.3</a>
               <a class="series-place">26th</a>
            </div>
         </div>
         <div class="series-result">
            <a class="series-name">SPRUMMER 2021</a>
            <div class="series-data">
               <a class="series-attended">6</a>
               <a class="series-points">475</a>
               <a class="series-average">201.3</a>
               <a class="series-place">26th</a>
            </div>
         </div>
         <div class="series-result">
            <a class="series-name">SPRUMMER 2021</a>
            <div class="series-data">
               <a class="series-attended">6</a>
               <a class="series-points">475</a>
               <a class="series-average">201.3</a>
               <a class="series-place">26th</a>
            </div>
         </div>
      </div>
       <div class="btn-bar-right btn-bottom">
           <a class="btn btn-medium bkg-darkgreen text-white unavailable-btn margin-right margin-bottom" >VIEW ALL SERIES HISTORY</a>
       </div>
   </section>

   <section class="sec profile-medals">
      <h1>ACHIEVEMENTS</h1>
      <a class="profile-medal-none">NOT AVAILABLE IN BETA</a>
   </section>
</section>

<!-- Career Stats  & Medals -->
<section class="col col-50 col-m-max-width">
   <section class="sec" style="height:332px;">
      <h1>CAREER STATS</h1>
      <div class="stat-quad stat-quad-25">
         <h3 class="my-account-rank-label">WINS</h3>
         <div class="counter counter-4">
            <ul>
               {{ rank_data.wins|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad stat-quad-25">
         <h3 class="my-account-rank-label">ATTENDED</h3>
         <div class="counter counter-5">
            <ul>
               {{ rank_data.attended|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad stat-quad-25">
         <h3 class="my-account-rank-label">AVG. SCORE</h3>
         <div class="counter counter-6">
            <ul>
               {{ rank_data.avg_score_career|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>
      <div class="stat-quad stat-quad-25">
         <h3 class="my-account-rank-label">TOTAL GAMES</h3>
         <div class="counter counter-7">
            <ul>
               {{ rank_data.total_games_career|counter|safe }}
            </ul>
            <div class="bottom"></div>
         </div>
      </div>

       <div class="btn-bar-right btn-bottom">
         <a class="btn btn-medium btn-right bkg-darkgreen text-white unavailable-btn margin-right margin-bottom">VIEW BEST GAMES</a>
        <a class="btn btn-medium btn-right bkg-grey text-darkgrey border-grey unavailable-btn margin-right-10 margin-bottom">REPORT ERROR</a>
      </div>
   </section>

   <section class="sec profile-medals">
      <h1>MEDALS</h1>
      <a class="profile-medal-none">NOT AVAILABLE IN BETA</a>
   </section>
</section>

{% endblock %}