{% extends 'base_layout.html' %}

{% block content %}

<div class="col col-100 col-m-max-width">
  <section class="sec a-login bkg-white">
    <h2 class="text-darkgreen">CREATE AN ACCOUNT</h2>
    <form class="standard-form" action="{% url 'accounts:signup' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        {% for error in field.errors %}
        <p><i class="icon-exclamation-circle"></i>{{ error }}</p>
        {% endfor %}
      {% endfor %}

      <label class="text-darkgreen">FIRST NAME</label>
      {{ form.first_name }}
      <span class="sub-label text-grey">Required. 30 characters or fewer.</span>

      <label class="text-darkgreen">LAST NAME</label>
      {{ form.last_name }}
      <span class="sub-label text-grey">Required. 30 characters or fewer.</span>

      <label class="text-darkgreen">EMAIL ADDRESS</label>
      {{ form.email }}
      <span class="sub-label text-grey">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>

      <label class="text-darkgreen">PASSWORD</label>
      {{ form.password }}
      <ul>
        <li class="text-grey">• Your password can’t contain personal information.</li>
        <li class="text-grey">• Your password must contain at least 8 characters.</li>
        <li class="text-grey">• Your password must contain at least 8 characters.</li>
        <li class="text-grey">• Your password can’t be entirely numeric.</li>
      </ul>

      <label class="text-darkgreen">CONFIRM PASSWORD</label>
      {{ form.password_2 }}
      <span class="sub-label text-grey">Enter the same password as before, for verification.</span>
      <span class="terms text-grey" for="id_submit">By clicking SIGN-UP, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Privacy Policy</a>.</span>
      <div class="standard-form-buttons">
        <input class="btn bkg-darkgreen text-white" type="submit" id="id_submit" name="" value="SIGN-UP">
      </div>
    </form>
  </section>
</div>
{% endblock %}
