{% extends 'base_layout.html' %}
{% load static %}


{% block content %}




<!-- Left Column : Tournament Roster -->
<section class="col col-25">
    <div class="sec">
        <h2>ROSTER</h2>
        <div class="t-roster">
            {% for roster_user in roster %}
            <div class="t-roster-bowler">
                <img src="/account/data/profile-pic/{{ roster_user.0 }}" alt="">
                <a href="/account/view/{{ roster_user.0 }}">{{ roster_user.1 }}</a>
                {{ roster_user.2|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Center Column : Tournament Preview -->
<section class="col col-50">
    <div class="sec {% if live %}glow{% endif %}">
        <a class="t-live-prev-title">LIVE <span class="prefix"><i class="icon-circle"></i></span></a>
        <h2 class="t-header">{{ tournament.1 }}</h2>
        <a class="t-center" href="/centers/view/{{ tournament.5 }}">{{ tournament.6 }}</a>
        <a class="t-location" href="/centers/view/{{ tournament.5 }}">{{ tournament.7 }}</a>
    </div>
    {% if stream_available or True == True%}
    <div class="sec t-video">
        <video id="my-video" class="video-js" controls preload="auto" poster="/vods/poster/{{ tournament.8 }}/" data-setup='{"fluid": true}'>
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4" />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
    </div>

    {% else %}
        <div class="sec">
            <img class="t-display-img" src="{% static 'img/recent-preview-template.png'%}" alt="">
            <img class="t-watermark" src="{% static 'img/SBS_Logo.png' %}" ref="Scratch Bowling Series">
        </div>
    {% endif %}

    <div class="sec">
        <div class="t-details">
            <div class="tournament-info-slide-selector">
                <a href="">DETAILS</a>
            </div>
        </div>
    </div>
</section>

<!-- Right Column : Oil Pattern Display -->
<section class="col col-25">
    <div class="sec">
        <h2>OIL PATTERN</h2>
         <div class="t-oil">
            <a href="#">2013 EBT 15 - Columbia 300 Vienna Open</a>
            <div class="t-oil-stats">
                <i>Length: 42ft</i>
                <i>Volume: 25.30 mL</i>
                <i>Forward: 14.95 mL</i>
                <i>Backwards: 10.35 mL</i>
                <i>Ratio: 1:3.33</i><br><br>
                <span><a href="" class="btn btn-small t-oil-view">FORWARD</a><div style="background:{{ oil_colors.3 }};"></div></span>
                <span><a href="" class="btn btn-small t-oil-view">REVERSE</a><div style="background:{{ oil_colors.4 }};"></div></span>
                <span><a href="" class="btn btn-small t-oil-view">COMBINED</a><div style="background:{{ oil_colors.3 }};"></div></span>
                <span><a href="" class="btn btn-small t-oil-view">BUFF AREA</a><div style="background:{{ oil_colors.1 }};"></div></span>

            </div>
             <a href="" class="btn btn-small t-oil-view-pdf">VIEW PDF</a>
             <div class="t-oil-display-wrap">
                 <div class="t-oil-display">
                     {% for oil in oil_pattern %}
                     <span class="t-oil-cell {% if forloop.last %} t-oil-cell-right {% endif %}">
                    <span class="t-oil-row t-oil-row-top" style="background: {{ oil.0 }};"></span>
                    <span class="t-oil-row" style="background: {{ oil.1 }};"></span>
                    <span class="t-oil-row" style="background: {{ oil.2 }};"></span>
                    <span class="t-oil-row" style="background: {{ oil.3 }};"></span>
                    <span class="t-oil-row" style="background: {{ oil.4 }};"></span>
                    <span class="t-oil-row" style="background: {{ oil.5 }};"></span>

                    <span class="t-oil-row t-oil-row-bottom" style="background: {{ oil.6 }};"></span>
                </span>
                {% endfor %}
                </div>
             </div>
         </div>
    </div>
    <div class="sec">
        <h2>PAYOUT CALCULATOR</h2>

        <input class="t-payout" type="range" min="30" max="90" value="60" class="slider" id="myRange">
        <div class="t-payout-labels">
            <a class="first">30</a>
            <a class="second">60</a>
            <a class="third">90</a>
        </div>
        <a class="t-payout-header">ENTRIES</a>
        <div class="t-payout-row">
            <a class="t-payout-place">1st</a>
            <a class="t-payout-pay">${{ payout.first }}</a>
        </div>
        <div class="t-underline"></div>
        <div class="t-payout-row">
            <a class="t-payout-place">2nd</a>
            <a class="t-payout-pay">${{ payout.second }}</a>
        </div>
        <div class="t-underline"></div>
        <div class="t-payout-row">
            <a class="t-payout-place">3rd-4th</a>
            <a class="t-payout-pay">${{ payout.thirdfourth }}</a>
        </div>
        <div class="t-underline"></div>
        <div class="t-payout-row">
            <a class="t-payout-place">5th-8th</a>
            <a class="t-payout-pay">${{ payout.fiftheigth }}</a>
        </div>
        <div class="t-underline"></div>
        <div class="t-payout-row">
            <a class="t-payout-place">High Lady/Senior</a>
            <a class="t-payout-pay">${{ payout.high }}</a>
        </div>
        <div class="t-payout-breakdown">
            <a>Prize: $30</a><a>Lineage: $10</a><a>Expenses: $5</a>
        </div>
    </div>
</section>

{% if finished or True %}
<!-- Center Column Below : Quaifying -->
<section class="col col-35" >
    <div class="sec">
        <div class="tournament-view-info-qualifying">
            <div class="tournament-info-slide-selector">
                <a href="">QUALIFYING</a>
            </div>
            <div class="tournament-view-qualifying-slide-label">
                <a class="place"></a><!--
                --><a class="name"></a><!--
                --><a class="score">1</a><!--
                --><a class="score">2</a><!--
                --><a class="score">3</a><!--
                --><a class="score">4</a><!--
                --> <a class="total">TOTAL</a>
            </div>
            <div class="tournament-info-slide-container">
                {% for qualifying in qualifyings %}
                <div class="tournament-view-qualifying-slide">
                    <a class="place">{{ qualifying.2 }}</a><!--
                    --><a class="name" href="/account/view/{{ qualifying.0 }}">{{ qualifying.1|safe }}</a><!--
                    {% for qualifying_score in qualifying.3 %}
                    --><a class="score">{{ qualifying_score }}</a><!--
                    {% endfor %}
                    --><a class="total">{{ qualifying.4 }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Center Column Below : Matchplay -->
<section class="col col-65">
    <div class="sec">
        <div class="tournament-view-info-qualifying">
            <div class="tournament-info-slide-selector">
                <a href="">MATCH PLAY</a>
            </div>
            <div class="tournament-view-qualifying-slide-label">
                <a class="place"></a><!--
                --><a class="name"></a><!--
                --><a class="score">1</a><!--
                --><a class="score">2</a><!--
                --><a class="score">3</a><!--
                --><a class="score">4</a><!--
                --> <a class="total">TOTAL</a>
            </div>
            <div class="tournament-info-slide-container">


                {% for row in matchplay %}
                <div class="tournament-view-qualifying-slide">
                    <a class="place">{{ row.0 }}</a><!--
                    --><a class="name" href="/account/view/{{ row.4 }}">{{ row.1|safe }}</a><!--
                    {% for x in row.2 %}
                    --><a class="score">{{ x }}</a><!--
                    {% endfor %}
                    --><a class="total">{{ row.3 }}</a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>

{% endif %}

<script src="{% static 'js/tournament-view-align.js' %}"></script>
<script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>

{% endblock %}

