@use 'util/colors.scss' as color;
@use 'util/fonts.scss' as font;


$br:10px;

$mobile-break:600px;
$desktop-break:992px;

$nav-logo-filter: invert(20%) sepia(19%) saturate(958%) hue-rotate(99deg) brightness(94%) contrast(90%);
$footer-logo-filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(307deg) brightness(110%) contrast(101%);


/* Extra small devices (phones, 600px and down)*/
@import url('phone-large.css') only screen and (max-width: 600px);

/* Small devices (portrait tablets and large phones, 600px and up) */
@import url('phone-large.css') only screen and (min-width: 600px) and (max-width: 767px);

/* Medium devices (landscape tablets, 768px and up) */
@import url('desktop-small.css') only screen and (min-width: 768px) and (max-width: 991px);

/* Large devices (laptops/desktops, 992px and up) */
@import url('desktop-medium.css') only screen and (min-width: 992px) and (max-width: 1699px);

/* Extra large devices (large laptops and desktops, 1200px and up) */
@import url('desktop-large.css') only screen and (min-width: 1700px);


body {
  background-color:  color.$lightgrey;
  font-family: font.$secondary;
  font-size: 0;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  max-width: 3840px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &.no-scroll {
    position: fixed;
    overflow: hidden;
  }
}
a, span, p, h1, h2, h3, h4, i {
  font-family: font.$primary;
  color: color.$darkgreen;
  text-decoration: none;
  user-select: none;
}
h1 {
  margin: 0;
  padding: 20px 25px;
  display: block;
  font-family: font.$primary;
  font-size: 25px;
  color: color.$darkgreen;
}
h2 {
  text-align: center;
  margin: 0;
  padding: 20px 25px;
  display: block;
  font-family: font.$primary;
  font-size: 20px;
  color: color.$darkgreen;
  vertical-align: top;
}
h3 {
  margin: 0;
  padding: 20px 25px;
  display: block;
  font-family: font.$primary;
  font-size: 18px;
  color: color.$darkgreen;
}
h4 {
  margin: 0;
  padding: 20px 5px;
  display: block;
  font-family: font.$primary;
  font-size: 12px;
  color: color.$darkgreen;
}
p {
  font-size: 16px;
}


/*
  @media(max-width: $mobile-break) {
    //MOBILE
  }
  @media(max-width: $desktop-break) {
    //TABLETS
  }
*/

//<editor-fold desc="BUTTONS">
.btn-bar-right {
  width: calc(100% - 40px);
  margin: 0 20px;
  text-align: right;
}
.btn-bar-center {
  width: calc(100% - 40px);
  margin: 0 20px;
  text-align: center;
}
.btn {
	height:35px;
	padding:0px 20px;
	font-size:16px;
	line-height: 37px;
	display: inline-block;
	text-align: center;
	border-radius: $br;
    box-sizing: border-box;
    vertical-align: top;
    cursor:pointer;
    &:hover{
      opacity:0.85;
    }
}
.btn-bordered{
  border:solid 2px color.$white;
  line-height:33px;
}
.btn-medium{
    height:30px;
    padding:0 10px;
	font-size:14px;
	line-height: 31px;
}
.btn-small {
	height:20px;
    padding:0 8px;
	font-size:12px;
	line-height: 22px;
    border-radius: 7px;
}
.btn-full {
	width:calc(100% - 40px);
    margin:0 auto;
}
.btn-right {
  float: right;
}
.btn-bottom {
  position: absolute;
  bottom: 0px;
  right: 20px;
  left: 20px;
}
//</editor-fold>

//<editor-fold desc="NAVIGATION">

nav{
  width: 100%;
  height: 55px;
  margin:25px 0 0 0;
  background: color.$darkgreen;
  #nav-inner{
    max-width:1800px;
    position: relative;
    margin:0 auto;
    /* NAV LOGO */
    .nav-logo {
      padding: 0 15px 0 40px;
      margin-left:-15px;
      display: inline-block;
      width: auto;
      height: 55px;
      vertical-align: top;
      overflow: hidden;

      .nav-logo-wrap {
        box-sizing: content-box;
        display: inline-block;
        height: 55px;
        width: 150px;
        text-align: center;
        background: white;
      }

      img {
        height: 40px;
        width: auto !important;
        padding: 8px 0 15px 0;
        filter: $nav-logo-filter;
      }

      .nav-logo-f {
        width: 14px;
        height: 75px;
        margin-top: -10px;
        display: inline-block;
        vertical-align: top;
      }

      .nav-logo-f1 {
        background: color.$tan;
        transform: rotate(20deg);
      }

      .nav-logo-f2 {
        background: color.$midgrey;
        transform: rotate(20deg);
      }

      .nav-logo-f3 {
        background: white;
        transform: rotate(20deg);
      }
    }

    /* NAV BUTTONS */
    .nav-buttons {
      width: auto;
      height: 55px;
      margin: 0 0 0 10px;
      text-align: left;
      display: inline-block;
      vertical-align: top;
      position: relative;

      .hidden {
        display: none;
      }

      .nav-btn {
        display: inline-block;
        height: 55px;
        margin: 0px 0px;
        vertical-align: top;
        position: relative;
        text-align: center;

        &.mobile-nav {
          display: none;
        }

        a {
          display: block;
          font-size: 17px;
          line-height: 55px;
          padding:0 8px;
          color: white;
          &:hover, &:focus {
            color: white;
          }
        }

        .active {
          text-decoration: underline;
          background: white;
          color: color.$tan;
        }
      }

      .nav-btn-drop {
        vertical-align: top;
        height: 55px;
        display: inline-block;
        margin-left: 10px;
        position: relative;
        cursor: pointer;
        i {
          display: inline-block;
          color: white;
          font-size: 5px;
          padding-right:5px;
          line-height: 55px;
        }

        .drop-wrap {
          position: absolute;
          right: -250px;
          bottom: -160px;
          height: 200px;
          width: 300px;
          display: none;
          z-index: 2001;
          text-align: left;

          .drop {
            display: inline-block;
            margin-left: 50px;
            margin-top: 20px;
            background: white;
            width: auto;
            height: auto;
            text-align: left;
            border-radius: 10px;
            padding: 0 0 10px 0;
            border: solid 2px color.$lightgreen;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            a {
              display: block;
              font-size: 17px;
              line-height: 18px;
              padding: 10px 10px 0 10px;
              margin: 0px 0;

              i {
                display: inline-block;
                color: white;
                font-size: 5px;
                line-height: 5px;
                color: red;
                padding: 6px 5px 0 0;
                vertical-align: top;
              }
            }

            &:hover, &:focus {
              color: white;
            }
          }
        }

        &:hover .drop-wrap {
          display: block;
        }
      }
    }

    /* MOBILE NAV */
    .nav-drop-button {
      opacity: 0;
      display: none;

      i {
        display: none;
      }
    }

    /* NAV ACCOUNT */
    .nav-account {
      position: absolute;
      right: 0;
      text-align: right;
      display: inline-block;
      height: 55px;
      vertical-align: top;
      width: auto;
      a {
        margin: 10px 10px 11px 0px;
      }
      .nav-account-photo {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 20px;
      overflow: hidden;

      img {
        height: 40px;
        width: 40px;
      }
    }
      .nav-search {
      height: 55px;
      margin: 0 10px 0 0;
      display: inline-block;
      vertical-align: top;
      overflow: hidden;
      width: auto;
      min-width: 350px;
      input[type=text] {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      appearance: none;
      border: none;
      -webkit-appearance: none;
      height: 35px;
      margin: 10px 0;
      width: 70%;
      display: inline-block;
      border-radius: 10px 0 0 10px;
      vertical-align: top;
      background: white;
      text-align: left;
      font-size: 16px;
      padding-left: 20px;
      font-family: font.$primary-light;

      &::-webkit-input-placeholder {
        color: grey;
        font-size: 12px;
        font-family: font.$primary-light;
      }

      &:focus {
        appearance: none;
        outline: none;
      }
    }
      input[type=submit] {
      font-size:16px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      appearance: none;
      border: none;
      -webkit-appearance: none;
      height: 35px;
      width: 30%;
      margin: 10px 0;
      display: inline-block;
      border-radius: 0 10px 10px 0;
      color: color.$lightgreen;
      overflow: hidden;
      vertical-align: top;
      padding: 0 10px;
      background: white;
      line-height: 35px;
      font-family: font.$primary;
    }
    }
    }

    .nav-scroll {
      display: inline-block;
      vertical-align: top;
    }

    .no-results {
      color: color.$lightgrey;
      font-size: 30px;
      margin: 50px 0 70px 0;
    }

    .no-results-bottom {
      color: color.$lightgreen;
      font-size: 20px;
      margin: 30px 0;
      display: block;
    }

    .no-results-link {
      display: block;
      font-size: 16px;
      margin: -60px 0 70px 0;
      color: color.$darkgreen;
      vertical-align: top;
      text-align: center;
    }

    .nav-btn-underline {
      position: absolute;
      bottom: 20px;
      right: 9px;
      left: 9px;
      width: calc(100% - 18px);
      height: 2px;
    }
  }


  @media(max-width: $mobile-break){
    font-size: 0;
    width: 100%;
    height: 65px;
    margin: 0;
    position: relative;
    background-color:  color.$darkgreen;
    z-index: 3000;
    #nav-inner{
      /* NAV LOGO */
      .nav-logo {
        padding: 0 15px 0 40px;
        margin-left: -15px;
        display: inline-block;
        width: auto;
        height: 65px;
        vertical-align: top;
        overflow: hidden;

        .nav-logo-wrap {
          box-sizing: content-box;
          display: inline-block;
          height: 65px;
          width: 150px;
          text-align: center;

          background-color: color.$white
        ;
        }

        img {
          height: 50px;
          width: auto !important;
          padding: 8px 0 15px 0;
          filter: $nav-logo-filter;
        }

        .nav-logo-f {
          width: 18px;
          height: 85px;
          margin-top: -10px;
          display: inline-block;
          vertical-align: top;
        }

        .nav-logo-f1 {
          background-color:  color.$tan;
          transform: rotate(20deg);
        }

        .nav-logo-f2 {
          background-color:  color.$midgrey;
          transform: rotate(20deg);
        }

        .nav-logo-f3 {
          background-color: color.$white
        ;
          transform: rotate(20deg);
        }
      }

      /* NAV BUTTONS */
      .nav-buttons {
        height: auto;
        width: 100%;
        margin: 130px 0 20px 0;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        position: relative;
        z-index: 2000;
        background-color: color.$white;
        justify-content: center;
        align-content: center;
        .hidden {
          display: block;
        }
        .nav-btn {
          display: block;
          width: calc(100% - 60px);
          height: auto;
          margin: 0 30px;
          vertical-align: top;
          position: relative;
          text-align: center;
          border-bottom: solid 1px  color.$lightgrey;

          a {
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            padding: 15px 10px;
            margin: 0;
            position: relative;
            width: auto;
            color:  color.$darkgreen;

            &:hover,
            &:focus {
              opacity: 0.5;
            }
          }

          .nav-btn-underline {
            position: absolute;
            bottom: 10px;
            width: calc(100% - 16px);
            right: 8px;
            left: 8px;
            height: 2px;
            background:  color.$darkgreen;
            display: none;

            &.active {
              display: block;
            }
          }
          &.mobile-nav{
            display: block;
          }
          &.last {
            border: none;
          }
        }
        .nav-btn-beta {
          display: block;
          width: calc(100% - 60px);
          height: auto;
          margin: 20px 30px 0 30px;
          vertical-align: top;
          position: relative;
          text-align: center;

          a {
            font-size: 12px;
            display: block;

            color: color.$grey
          ;
          }
        }
        .nav-btn-drop {
          vertical-align: top;
          height: 65px;
          display: none;
          overflow: hidden;
          margin-left: 10px;

          i {
            display: inline-block;

            color: color.$white
          ;
            font-size: 5px;
            line-height: 5px;
            padding: 30px 2px;
          }
        }

      }

      /* MOBILE NAV */
      .nav-drop-button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        vertical-align: top;
        height: 65px;
        width: 65px;
        display: inline-block;
        opacity:1;
        #nav-icon3 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        height: 35px;
        margin: 15px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: 7px;
          width: 100%;

          background-color: color.$white
        ;
          border-radius: 7px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
        }
        span:nth-child(1) {
          top: 0px;
        }
        span:nth-child(2),
        span:nth-child(3) {
          top: 14px;
        }
        span:nth-child(4) {
          top: 28px;
        }
        &.open span:nth-child(1) {
          top: 14px;
          width: 0%;
          left: 50%;
        }
        &.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &.open span:nth-child(4) {
        top: 14px;
        width: 0%;
        left: 50%;
      }
      }
      }

      /* NAV ACCOUNT */
      .nav-account {
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        padding-top: 10px;
        overflow: hidden;
        background-color: color.$white;
        text-align: center;
        display: inline-block;
        height: 130px;
        vertical-align: top;
        width: auto;
        z-index: 2001;
        justify-content: center;
        align-content: center;
        a {
          clear: both;
          margin: 12.5px 10px;
        }
        .login {
          border-color:  color.$darkgreen;
          color:  color.$darkgreen;
        }
        .signup {
          background-color:  color.$darkgreen;

          color: color.$white
        ;
          border-color:  color.$darkgreen;
        }
        .myaccount {
          color:  color.$darkgreen;
          border-color:  color.$darkgreen;
        }
        .nav-account-photo {
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        overflow: hidden;

        img {
          height: 40px;
          width: 40px;
        }
      }
        .nav-search {
          height: 65px;
          margin: 0 0 0 0;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
          width: auto;
          min-width: 350px;
          position: absolute;
          top: 65px;
          right: 20px;
          left: 20px;
        }
        .nav-search input[type="text"] {
          border:solid 2px color.$darkgreen;
          border-right:none;
          &::-webkit-input-placeholder, &::placeholder {
            color: grey;
            font-size: 14px;
            display: block;
            line-height: 20px;
            vertical-align: top;
            font-family:  font.$primary-light;
          }
          &:focus {
            appearance: none;
            outline: none;
          }
        }
        .nav-search input[type="submit"] {
          border:solid 2px color.$darkgreen;
          border-left:none;
          color: color.$darkgreen;
        }
      }

      .nav-scroll {
        display: none;
        position: absolute;
        top: 65px;
        height: auto;
        max-height: 0px;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        transition: height linear 0.3s, border-color linear 0.3s, box-shadow linear 0.3s;
        overflow: hidden;

        background-color: color.$white
      ;
        border-bottom: solid 2px white;
        border-top: solid 2px white;
        box-shadow: 0 20px 10px transparent;
      }


    }
  }
  @media(max-width: $desktop-break){
    //TABLETS
  }
}

//</editor-fold>

//<editor-fold desc="FOOTER">
footer {
  width: 100%;
  height: auto;
  background-color: color.$darkgreen;
  text-align: center;
  display: block;
  padding: 0;
  margin: 10px 0 0 0;
  overflow: hidden;

  img {
    height: 25px;
    margin: 12.5px 0;
    width: auto !important;
    display: inline-block;
    filter: $footer-logo-filter;
  }

  .footer-copy {
    display: inline-block;
    color: color.$white;
    font-size: 12px;
    line-height: 12px;
    padding: 19px 0 10px 10px;
    vertical-align: top;
  }

  .footer-terms, .footer-privacy {
    color: color.$white;
    font-size: 12px;
    display: inline-block;
    padding: 0 5px 20px 5px;
  }
  @media(max-width: $mobile-break){
      //MOBILE
      footer {
        width: 100%;
        height: auto;
        background-color:  color.$darkgreen;
        text-align: center;
        display: block;
        padding: 0;
        margin: 10px 0 0 0;
        overflow: hidden;

        img {
          height: 25px;
          margin: 12.5px 0;
          width: auto !important;
          display: inline-block;
          filter: $footer-logo-filter;
        }

        .footer-copy {
          display: inline-block;

          color: color.$white
        ;
          font-size: 12px;
          line-height: 12px;
          padding: 19px 0 10px 10px;
          vertical-align: top;
        }

        .footer-terms, .footer-privacy {
        color: color.$white
      ;
        font-size: 12px;
        display: inline-block;
        padding: 0 5px 20px 5px;
      }
      }
  }
  @media(max-width: $desktop-break){
      //TABLETS
  }
}
//</editor-fold>



#content-wrapper{
  width: calc(100% - 20px);
  max-width: 1700px;
  margin: 15px auto;
  gap:15px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media(max-width: $mobile-break) {
    //MOBILE
    gap:10px;
    margin:10px auto;
  }
  @media(max-width: $desktop-break) {
    //TABLETS
  }
}


.col {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.sec {
  overflow:hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height:auto;
  flex-grow: 0;
  border-radius: $br;
  background: color.$white;
  align-items: flex-start;
  align-content: flex-start;
}
.rows{
  width:100%;
  display: flex;
  flex-direction: column;
  padding:0 20px;
  box-sizing: border-box;
  gap:10px;
  .row {
    flex:1;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    .date {
      display: flex;
      font-size:14px;
      line-height: 20px;
      min-width: 45px;
    }
    .entry{
      display: flex;
      font-size:14px;
      line-height: 20px;
      flex:1;
      min-width: 0; //Fix for text-overflow-ellipsis
      span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right:10px;
      }
    }
  }
}



.bottom-up{
  position: fixed;
  right:0;left:0;
  top:0;bottom:0;
  display: none;
  background: rgba(0,0,0,0.5);
  z-index:4000;
  .inner{
    position: absolute;
    bottom:0;
    right:0;left:0;
    height:30%;
    border-radius: $br $br 0 0;
    background: color.$white;
    h2{
      color: color.$darkgreen;
    }
    .options{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex:1;
      .option{
        display: flex;
        flex-direction: row;
        height:60px;
        flex:1;
        gap:10px;
        margin:0 40px;

        img{
          display: flex;
          height:50px;
          width:50px;
          border-radius: $br;
          margin:5px;
          box-shadow:0 0 2px 2px rgba(0,0,0,0.2);
        }
        div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap:5px;
          flex:1;
          .name{
            display: flex;
            font-size:20px;
            line-height: 20px;
          }
          p{
            font-size:14px;
            line-height: 14px;
            color: color.$grey;
            display: flex;
          }
        }

        .btn{
          display: flex;
          margin:auto;
          background: color.$darkgreen;
          color: color.$white;
        }
      }
    }
  }

  @media(max-width: $mobile-break) {
    &.visible{
      display: block;
    }
    //MOBILE
  }
  @media(max-width: $desktop-break) {
    //TABLETS
  }
}

.bottom-up.visible + body{
    background: red;
    overflow: hidden;
    height: 100vh;
  }
//<editor-fold desc="Snippets">
.stream-highlights {
  position: relative;
  text-align: left;
  h2{
    text-align: left;
  }
  .wrap{
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap:20px;
    padding:0 20px 20px 20px;
    justify-content: center;
    align-items: center;
    .clip{
      display: flex;
      flex:1;
      height: auto;
      vertical-align: top;
      flex-direction:column;
      overflow: hidden;
      .img-wrap{
        width:100%;
        border-radius: $br;
        overflow: hidden;
        img {
          width:100%;
          height: auto !important;
          background: #3d3d3d;
        }
      }
      a{
        text-align: left;
        font-size:18px;
        padding:10px 5px 5px 5px;
        display: block;
      }
      p {
        display: block;
        color: color.$tan;
        text-align: left;
        padding-left:5px;
      }
    }
  }
  .btn{
    position: absolute;
    right:20px;
    top:20px;
  }
  @media(max-width: $mobile-break){
    .wrap{
      flex-direction: column;
    }
    .btn{
      top:auto;
      bottom:20px;
      background: color.$darkgreen;
      color: color.$white
    }
    padding-bottom:45px;
    //MOBILE
  }
  @media(max-width: $desktop-break){
    //TABLETS
  }
}
.featured-live{
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding:0 20px;
  gap:15px;
  min-height:55px;
  .indicator{
    color: color.$tan;
    font-family: font.$primary-bold;
    font-size:20px;
    margin:auto;
    i{
      font-size:10px;
      line-height:20px;
      width:20px;
      text-align: center;
      vertical-align: top;
      color:inherit;
      padding-left:5px;
    }
  }
  .title{
    font-size:16px;
    display: flex;
    margin:auto;
    white-space: nowrap;
  }
  .leader{
    font-size:16px;
    display: flex;
    margin:auto;
    white-space:nowrap;
    text-overflow: ellipsis;
    flex:1;
    span{
      line-height: 16px;
      font-size:12px;
      color: color.$grey;
      padding-left:5px;
    }
  }
  .watch{
    margin:auto;
    align-self: flex-end;
    gap:15px;
  }
  .share{
    margin:auto;
    align-self: flex-end;
  }

  @media(max-width: $mobile-break) {
    //MOBILE
    gap:10px;
    .leader{
      display: none;
    }
    .share{
      display: none;
    }
    .title{
      flex:1;
    }
  }
  @media(max-width: $desktop-break) {
    //TABLETS
  }
}
.featured-tournament {
  flex-direction: row;
  img{
    width: 60%;
    height: auto !important;
    position: relative;
    display: inline-block;
  }
  .content {
    display: inline-block;
    width: 40%;
    text-align: left;
    vertical-align: top;
    .featured{
      font-size: 14px;
      display: block;
      padding: 20px 20px 0px 20px;
      color: color.$grey;
    }
    .title {
      font-size: 24px;
      display: block;
      padding: 10px 20px 5px 22px;
    }
    .date {
      display: block;
      padding:0 22px;
      font-size: 16px;
      color: grey;
      font-family: font.$primary-light;
    }
    .description {
      display: block;
      font-size: 16px;
      padding: 10px 35px 20px 25px;
      line-height: 18px;
      font-family: font.$primary-light;
    }
    .stats {
      width: 100%;
      display: block;
      padding-left:10px;
      .player {
        width: 100%;
        height:35px;
        margin-bottom:5px;
        padding:0 20px;
        .name {
          display:inline-block;
          font-size: 16px;
          line-height: 20px;
          padding:0 10px;
          span {
            color: color.$darkgreen;
          }
        }
        .rank {
          display: inline-block;
          border-radius: $br - 2;
          border:solid 1px color.$darkgreen;
          height:20px;
          line-height: 20px;
          padding:0 2px;
          font-size:14px;
          min-width:30px;
          text-align: center;
        }
        .top-rank {
          border-color: color.$tan;
          color: color.$tan;
        }

        &:hover{
          .name{
            text-decoration: underline;
          }
        }
      }
    }
    .more {
      position: absolute;
      right: 0;
      bottom: 0;
      color: white;
      font-family: font.$primary;
      display: inline-block;
    }
  }
  @media(max-width: $mobile-break){
    flex-direction: column;
    //MOBILE
    .image {
  width: 100%;
  position: relative;
  display: block;

  .preview {
    width: 100%;
    height: auto !important;
  }

  .watermark {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    padding: 10px;
    opacity: 0.5;
  }
}
    .content {
      display: block;
      width: 100%;
      text-align: left;




    }
    .lower-btns {
      width: calc(100% - 40px);
      height: auto;
      margin: 0 20px;
      text-align: right;
    }
    .stats {
      padding-bottom: 15.5px;

    }
  }
  @media(max-width: $desktop-break){
    //TABLETS
  }
}
.featured-series{
  text-align: left;
  padding-bottom:20px;
  flex-grow: 0;
  .featured{
      text-align: left;
      font-size: 14px;
      display: block;
      padding: 20px 20px 0px 20px;
      color: color.$grey;
  }
  .series-wrap{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
    width:calc(100% - 40px);
    margin:0 20px;
    padding-bottom:10px;
    box-sizing: border-box;
    .tournament{
      display: flex;
      flex-direction: row;
      gap:10px;
      flex-shrink: 0;
      width:50%;
      img{
        display: flex;
        width:200px;
        margin:10px;
        border-radius: $br;
        height:auto!important;
        box-sizing: border-box;
      }
      .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        gap:10px;
        padding:10px;
        flex:1;
        .title {
          font-size: 20px;
          display: block;
        }
        .date {
          display: block;
          font-size: 16px;
          color: color.$grey;
          font-family: font.$primary-light;
        }
        .winner {
          font-size: 14px;

          i {
            font-size: 14px;
            color: color.$tan;
          }
        }
      }
    }
    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      border-radius: 4px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: color.$lightgreen;
      border-radius: 4px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: color.$lightgreen;
    }
  }

  h2{
      display: block;
      padding: 10px 20px 5px 22px;
      text-align: left;
  }

  @media(max-width: $mobile-break) {
    //MOBILE
    .series-wrap {
      .tournament {
        width:100%;
        gap:0;
        img {
          width:120px;
          height:auto;
          flex-shrink: 0;
        }
        .content {
          padding:5px;
          .title {
            font-size: 18px;
          }

          .date {
            font-size: 16px;
          }

          .winner {
            font-size: 15px;

            i {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  @media(max-width: $desktop-break) {
    //TABLETS
  }
}
.play-steps {
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
  align-content: center;
  .step {
    display: flex;
    flex: 1;
    border-radius: $br;
    flex-direction: column;
    //background: darken(color.$lightgreen, 5%);
    justify-content: center;
    align-items: center;
    color: color.$lightgreen;

    i {
      display: block;
      font-size: 35px;
      margin: 20px 0 10px 0;
    }

    h3 {
      display: block;
      font-size: 16px;
      color: color.$darkgreen;
      padding: 10px;
    }

    p {
      display: block;
      font-size: 14px;
      color: color.$darkgreen;
      padding: 0 20px 10px 20px;
      font-family: font.$primary-light;

      a {
        text-decoration: underline;
      }

      span {
        font-family: font.$primary-bold;
      }
    }
  }
  .next {
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    margin:auto;
    flex-direction: column;
    i {
      display: flex;
      font-size: 20px;
      width: 20px;
      text-align: center;
      color: color.$darkgreen;
      opacity: 0.2;
    }
  }

  @media(max-width: $mobile-break) {
    //MOBILE
    flex-direction: column;
    .next{
      transform:rotate(90deg);
    }
    .step{
      i{
        font-size:45px;
      }
      h3{
        font-size:22px
      }
      p{
        font-size:18px;
        max-width:60%;
      }
    }
  }
  @media(max-width: $desktop-break) {
    //TABLETS
  }
}
.feed{
  h2{text-align: left}
}
.app-prev {
  text-align: left;
  min-height: 200px;

  p {
    font-size: 16px;
    line-height: 22px;
    padding: 0 20px 20px 30px;
    max-width: 100%;
  }
  a {
    margin: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  li {
  width: 100%;
  height: 50px;
  display: block;
  text-align: left;
  font-size: 18px;
  padding-left: 10px;

  i {
    font-size: 8px;
    display: inline-block;
    vertical-align: top;
    padding: 6px 3px 8px 0;
  }
}
  .phone {
    position: absolute;
    right: 20px;
    bottom: -100px;
    border: solid 2px color.$lightgreen;
    border-radius: 12px;
    width: 100px;
    height: 200px;
    transform: rotate(10deg) scale(0.8);
    span:nth-child(1) {
      position: absolute;
      top: 0;
      right: 25px;
      left: 25px;
      height: 10px;
      background: color.$darkgreen;
      border-radius: 0 0 5px 5px;
      i {
        border-radius: 2.5px;
        position: absolute;
        left: 5px;
        top: 2px;
        background: white;
        width: 5px;
        height: 5px;
      }
      span {
        border-radius: 2.5px;
        position: absolute;
        left: 15px;
        top: 3.5px;
        background: white;
        width: 25px;
        height: 2px;
      }
    }
    span:nth-child(2) {
      position: absolute;
      top: 0;
      right: 75px;
      height: 10px;
      width: 10px;
      background: color.$darkgreen;
      div {
        position: absolute;
        top: 0;
        right: 0;
        height: 10px;
        width: 10px;
        border-radius: 0 5px 0 0;
        background: white;
      }
    }
    span:nth-child(3) {
      position: absolute;
      top: 0;
      left: 75px;
      height: 10px;
      width: 10px;
      background: color.$darkgreen;
      div {
        position: absolute;
        top: 0;
        right: 0;
        height: 10px;
        width: 10px;
        border-radius: 5px 0 0 0;
        background: white;
      }
    }
    img {
      position: absolute;
      width: 60%;
      height: auto !important;
      top: 50px;
      right: 20%;
      left: 20%;
      filter: $nav-logo-filter;
    }

  }
  @media(max-width: $mobile-break) {
    //MOBILE
    .phone{
      transform: rotate(10deg);
      right:45px;
    }
  }
  @media(max-width: $desktop-break) {
    //TABLETS
  }
}
.goal-support{
  text-align: left;
  height: 140px;
  overflow: hidden;
  min-height:200px;

  .goal-prev-slide {
    width: 100%;
    height: auto;
    max-height: 140px;
    position: relative;
    display: none;
    overflow: hidden;
  }

  .goal-prev-slide-bar {
    position: absolute;
    left: 30px;
    bottom: 0px;
    width: 10px;
    height: 130px;
    background: lightgrey;
    vertical-align: bottom;
  }

  .goal-prev-slide-bar-inner {
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
    background: color.$lightgreen;
    right: 3px;
    left: 3px;
  }

  .goal-prev-slide-bar-circle {
    position: absolute;
    top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    left: -7.5px;
    background: lightgrey;
  }

  .goal-prev-slide-bar-circle-inner {
    position: absolute;
    top: 5px;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    left: 5px;
    background: color.$lightgreen;
    display: none;
  }

  .goal-prev-slide-bar .top {
  }

  .goal-prev-slide-bar .bottom {
    height: 20px;
    bottom: auto;
  }

  .goal-prev-slide-bar .off {
    background: transparent;
  }

  .goal-prev-slide-content {
    vertical-align: top;
    width: calc(100% - 100px);
    margin: 0 30px 30px 70px;

    h2 {
      text-align: left;
      padding: 0;
    }

    p {
      padding: 10px 10px 0 0;
      text-align: left;
      display: block;
      font-family: font.$primary-light;
      max-height: 62px;
      font-size: 16px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    a {
      font-size: 16px;
      line-height: 20px;
      vertical-align: top;
      display: block;
      padding-bottom: 5px;
      text-align: left;
    }

  }
  @media(max-width: $mobile-break) {
    //MOBILE
  }
  @media(max-width: $desktop-break) {
    //TABLETS
  }
}
.site-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding:20px;
  div{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
    gap:5px;
  }
  h2 {
    display: flex;
    font-family: font.$primary-light;
    color: #3d3d3d;
    padding:0;
    margin: 0;
    font-size: 21px;
    line-height: 1em;
  }
  a {
    color: color.$darkgreen;
    padding-bottom: 10px;
    display: flex;
    font-size: 13px;
    text-transform: uppercase;
  }
}
//</editor-fold>


//<editor-fold desc="Homepage">
.top-notify{
  text-align:center;
  p{
    font-family: font.$primary-bold;
    font-size: 16px;
    color: color.$lightgreen;
    padding: 20px;
	line-height: 16px;
  }
  a {
    vertical-align: top;
    display: inline-block;
    color: darken(color.$tan, 10%);
    font-size: 16px;
    text-decoration: underline;
  }
}
//</editor-fold>























  .text-white{color: color.$white}
  .text-lightgreen{color: color.$lightgreen}
  .text-darkgreen{color: color.$darkgreen}
  .text-grey{color: color.$grey}
  .text-lightgrey{color: color.$lightgrey}
  .text-darkgrey{color: color.$darkgrey}
  .text-tan{color: color.$tan}

  .bkg-none{background:transparent}
  .bkg-white{background: color.$white}
  .bkg-darkgreen{background: color.$darkgreen}
  .bkg-lightgreen{background: color.$lightgreen}
  .bkg-tan{background: color.$tan}
  .bkg-lightgrey{background: color.$lightgrey}
  .bkg-grey{background: color.$grey}

  .border-white{border-color: color.$white}
  .border-darkgreen{border-color: color.$darkgreen}
  .border-lightgreen{border-color: color.$lightgreen}
  .border-tan{border-color: color.$tan}
  .border-none{border-color: color.$white}
  .border-lightgrey{border-color: color.$lightgrey}
  .border-grey{border-color: color.$grey}
  .border-transparent{border-color:transparent}

  .margin-vertical{margin-top:20px;margin-bottom:20px}
  .margin-right{margin-right:20px}
  .margin-left{margin-left:20px}
  .margin-bottom{margin-bottom:20px}
  .margin-top{margin-top:20px}
  .margin-right-10{margin-right:10px}
  .margin-left-10{margin-left:10px}
  .margin-bottom-10{margin-bottom:10px}
  .margin-top-10{margin-top:10px}

  .bold{font-family: font.$primary-bold}
  .align-left{text-align:left}
  .align-center{text-align:center}
  .span-white i{color: color.$white}
  .primary-font{font-family: font.$primary}
