/* Extra small devices (phones, 600px and down)*/
@import url("phone-large.css") only screen and (max-width: 600px);
/* Small devices (portrait tablets and large phones, 600px and up) */
@import url("phone-large.css") only screen and (min-width: 600px) and (max-width: 767px);
/* Medium devices (landscape tablets, 768px and up) */
@import url("desktop-small.css") only screen and (min-width: 768px) and (max-width: 991px);
/* Large devices (laptops/desktops, 992px and up) */
@import url("desktop-medium.css") only screen and (min-width: 992px) and (max-width: 1699px);
/* Extra large devices (large laptops and desktops, 1200px and up) */
@import url("desktop-large.css") only screen and (min-width: 1700px);
body {
  background-color: #e8e8e8;
  font-family: helvetica;
  font-size: 0;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  max-width: 3840px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body.no-scroll {
  position: fixed;
  overflow: hidden;
}

a, span, p, h1, h2, h3, h4, i {
  font-family: tt_octosquares_condensedbold;
  color: #214031;
  text-decoration: none;
  user-select: none;
}

h1 {
  margin: 0;
  padding: 20px 25px;
  display: block;
  font-family: tt_octosquares_condensedbold;
  font-size: 25px;
  color: #214031;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 20px 25px;
  display: block;
  font-family: tt_octosquares_condensedbold;
  font-size: 20px;
  color: #214031;
  vertical-align: top;
}

h3 {
  margin: 0;
  padding: 20px 25px;
  display: block;
  font-family: tt_octosquares_condensedbold;
  font-size: 18px;
  color: #214031;
}

h4 {
  margin: 0;
  padding: 20px 5px;
  display: block;
  font-family: tt_octosquares_condensedbold;
  font-size: 12px;
  color: #214031;
}

p {
  font-size: 16px;
}

/*
  @media(max-width: $mobile-break) {
    //MOBILE
  }
  @media(max-width: $desktop-break) {
    //TABLETS
  }
*/
.btn-bar-right {
  width: calc(100% - 40px);
  margin: 0 20px;
  text-align: right;
}

.btn-bar-center {
  width: calc(100% - 40px);
  margin: 0 20px;
  text-align: center;
}

.btn {
  height: 35px;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 37px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  vertical-align: top;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.85;
}

.btn-bordered {
  border: solid 2px #fff;
  line-height: 33px;
}

.btn-medium {
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 31px;
}

.btn-small {
  height: 20px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 22px;
  border-radius: 7px;
}

.btn-full {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.btn-right {
  float: right;
}

.btn-bottom {
  position: absolute;
  bottom: 0px;
  right: 20px;
  left: 20px;
}

nav {
  width: 100%;
  height: 55px;
  margin: 25px 0 0 0;
  background: #214031;
}
nav #nav-inner {
  max-width: 1800px;
  position: relative;
  margin: 0 auto;
  /* NAV LOGO */
  /* NAV BUTTONS */
  /* MOBILE NAV */
  /* NAV ACCOUNT */
}
nav #nav-inner .nav-logo {
  padding: 0 15px 0 40px;
  margin-left: -15px;
  display: inline-block;
  width: auto;
  height: 55px;
  vertical-align: top;
  overflow: hidden;
}
nav #nav-inner .nav-logo .nav-logo-wrap {
  box-sizing: content-box;
  display: inline-block;
  height: 55px;
  width: 150px;
  text-align: center;
  background: white;
}
nav #nav-inner .nav-logo img {
  height: 40px;
  width: auto !important;
  padding: 8px 0 15px 0;
  filter: invert(20%) sepia(19%) saturate(958%) hue-rotate(99deg) brightness(94%) contrast(90%);
}
nav #nav-inner .nav-logo .nav-logo-f {
  width: 14px;
  height: 75px;
  margin-top: -10px;
  display: inline-block;
  vertical-align: top;
}
nav #nav-inner .nav-logo .nav-logo-f1 {
  background: #d9af62;
  transform: rotate(20deg);
}
nav #nav-inner .nav-logo .nav-logo-f2 {
  background: #d6d6d6;
  transform: rotate(20deg);
}
nav #nav-inner .nav-logo .nav-logo-f3 {
  background: white;
  transform: rotate(20deg);
}
nav #nav-inner .nav-buttons {
  width: auto;
  height: 55px;
  margin: 0 0 0 10px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
nav #nav-inner .nav-buttons .hidden {
  display: none;
}
nav #nav-inner .nav-buttons .nav-btn {
  display: inline-block;
  height: 55px;
  margin: 0px 0px;
  vertical-align: top;
  position: relative;
  text-align: center;
}
nav #nav-inner .nav-buttons .nav-btn.mobile-nav {
  display: none;
}
nav #nav-inner .nav-buttons .nav-btn a {
  display: block;
  font-size: 17px;
  line-height: 55px;
  padding: 0 8px;
  color: white;
}
nav #nav-inner .nav-buttons .nav-btn a:hover, nav #nav-inner .nav-buttons .nav-btn a:focus {
  color: white;
}
nav #nav-inner .nav-buttons .nav-btn .active {
  text-decoration: underline;
  background: white;
  color: #d9af62;
}
nav #nav-inner .nav-buttons .nav-btn-drop {
  vertical-align: top;
  height: 55px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}
nav #nav-inner .nav-buttons .nav-btn-drop i {
  display: inline-block;
  color: white;
  font-size: 5px;
  padding-right: 5px;
  line-height: 55px;
}
nav #nav-inner .nav-buttons .nav-btn-drop .drop-wrap {
  position: absolute;
  right: -250px;
  bottom: -160px;
  height: 200px;
  width: 300px;
  display: none;
  z-index: 2001;
  text-align: left;
}
nav #nav-inner .nav-buttons .nav-btn-drop .drop-wrap .drop {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
  background: white;
  width: auto;
  height: auto;
  text-align: left;
  border-radius: 10px;
  padding: 0 0 10px 0;
  border: solid 2px #2e5945;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav #nav-inner .nav-buttons .nav-btn-drop .drop-wrap .drop a {
  display: block;
  font-size: 17px;
  line-height: 18px;
  padding: 10px 10px 0 10px;
  margin: 0px 0;
}
nav #nav-inner .nav-buttons .nav-btn-drop .drop-wrap .drop a i {
  display: inline-block;
  color: white;
  font-size: 5px;
  line-height: 5px;
  color: red;
  padding: 6px 5px 0 0;
  vertical-align: top;
}
nav #nav-inner .nav-buttons .nav-btn-drop .drop-wrap .drop:hover, nav #nav-inner .nav-buttons .nav-btn-drop .drop-wrap .drop:focus {
  color: white;
}
nav #nav-inner .nav-buttons .nav-btn-drop:hover .drop-wrap {
  display: block;
}
nav #nav-inner .nav-drop-button {
  opacity: 0;
  display: none;
}
nav #nav-inner .nav-drop-button i {
  display: none;
}
nav #nav-inner .nav-account {
  position: absolute;
  right: 0;
  text-align: right;
  display: inline-block;
  height: 55px;
  vertical-align: top;
  width: auto;
}
nav #nav-inner .nav-account a {
  margin: 10px 10px 11px 0px;
}
nav #nav-inner .nav-account .nav-account-photo {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  overflow: hidden;
}
nav #nav-inner .nav-account .nav-account-photo img {
  height: 40px;
  width: 40px;
}
nav #nav-inner .nav-account .nav-search {
  height: 55px;
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: auto;
  min-width: 350px;
}
nav #nav-inner .nav-account .nav-search input[type=text] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  appearance: none;
  border: none;
  -webkit-appearance: none;
  height: 35px;
  margin: 10px 0;
  width: 70%;
  display: inline-block;
  border-radius: 10px 0 0 10px;
  vertical-align: top;
  background: white;
  text-align: left;
  font-size: 16px;
  padding-left: 20px;
  font-family: tt_octosquares_condensedMd;
}
nav #nav-inner .nav-account .nav-search input[type=text]::-webkit-input-placeholder {
  color: grey;
  font-size: 12px;
  font-family: tt_octosquares_condensedMd;
}
nav #nav-inner .nav-account .nav-search input[type=text]:focus {
  appearance: none;
  outline: none;
}
nav #nav-inner .nav-account .nav-search input[type=submit] {
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  appearance: none;
  border: none;
  -webkit-appearance: none;
  height: 35px;
  width: 30%;
  margin: 10px 0;
  display: inline-block;
  border-radius: 0 10px 10px 0;
  color: #2e5945;
  overflow: hidden;
  vertical-align: top;
  padding: 0 10px;
  background: white;
  line-height: 35px;
  font-family: tt_octosquares_condensedbold;
}
nav #nav-inner .nav-scroll {
  display: inline-block;
  vertical-align: top;
}
nav #nav-inner .no-results {
  color: #e8e8e8;
  font-size: 30px;
  margin: 50px 0 70px 0;
}
nav #nav-inner .no-results-bottom {
  color: #2e5945;
  font-size: 20px;
  margin: 30px 0;
  display: block;
}
nav #nav-inner .no-results-link {
  display: block;
  font-size: 16px;
  margin: -60px 0 70px 0;
  color: #214031;
  vertical-align: top;
  text-align: center;
}
nav #nav-inner .nav-btn-underline {
  position: absolute;
  bottom: 20px;
  right: 9px;
  left: 9px;
  width: calc(100% - 18px);
  height: 2px;
}
@media (max-width: 600px) {
  nav {
    font-size: 0;
    width: 100%;
    height: 65px;
    margin: 0;
    position: relative;
    background-color: #214031;
    z-index: 3000;
  }
  nav #nav-inner {
    /* NAV LOGO */
    /* NAV BUTTONS */
    /* MOBILE NAV */
    /* NAV ACCOUNT */
  }
  nav #nav-inner .nav-logo {
    padding: 0 15px 0 40px;
    margin-left: -15px;
    display: inline-block;
    width: auto;
    height: 65px;
    vertical-align: top;
    overflow: hidden;
  }
  nav #nav-inner .nav-logo .nav-logo-wrap {
    box-sizing: content-box;
    display: inline-block;
    height: 65px;
    width: 150px;
    text-align: center;
    background-color: #fff;
  }
  nav #nav-inner .nav-logo img {
    height: 50px;
    width: auto !important;
    padding: 8px 0 15px 0;
    filter: invert(20%) sepia(19%) saturate(958%) hue-rotate(99deg) brightness(94%) contrast(90%);
  }
  nav #nav-inner .nav-logo .nav-logo-f {
    width: 18px;
    height: 85px;
    margin-top: -10px;
    display: inline-block;
    vertical-align: top;
  }
  nav #nav-inner .nav-logo .nav-logo-f1 {
    background-color: #d9af62;
    transform: rotate(20deg);
  }
  nav #nav-inner .nav-logo .nav-logo-f2 {
    background-color: #d6d6d6;
    transform: rotate(20deg);
  }
  nav #nav-inner .nav-logo .nav-logo-f3 {
    background-color: #fff;
    transform: rotate(20deg);
  }
  nav #nav-inner .nav-buttons {
    height: auto;
    width: 100%;
    margin: 130px 0 20px 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2000;
    background-color: #fff;
    justify-content: center;
    align-content: center;
  }
  nav #nav-inner .nav-buttons .hidden {
    display: block;
  }
  nav #nav-inner .nav-buttons .nav-btn {
    display: block;
    width: calc(100% - 60px);
    height: auto;
    margin: 0 30px;
    vertical-align: top;
    position: relative;
    text-align: center;
    border-bottom: solid 1px #e8e8e8;
  }
  nav #nav-inner .nav-buttons .nav-btn a {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 15px 10px;
    margin: 0;
    position: relative;
    width: auto;
    color: #214031;
  }
  nav #nav-inner .nav-buttons .nav-btn a:hover, nav #nav-inner .nav-buttons .nav-btn a:focus {
    opacity: 0.5;
  }
  nav #nav-inner .nav-buttons .nav-btn .nav-btn-underline {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 16px);
    right: 8px;
    left: 8px;
    height: 2px;
    background: #214031;
    display: none;
  }
  nav #nav-inner .nav-buttons .nav-btn .nav-btn-underline.active {
    display: block;
  }
  nav #nav-inner .nav-buttons .nav-btn.mobile-nav {
    display: block;
  }
  nav #nav-inner .nav-buttons .nav-btn.last {
    border: none;
  }
  nav #nav-inner .nav-buttons .nav-btn-beta {
    display: block;
    width: calc(100% - 60px);
    height: auto;
    margin: 20px 30px 0 30px;
    vertical-align: top;
    position: relative;
    text-align: center;
  }
  nav #nav-inner .nav-buttons .nav-btn-beta a {
    font-size: 12px;
    display: block;
    color: grey;
  }
  nav #nav-inner .nav-buttons .nav-btn-drop {
    vertical-align: top;
    height: 65px;
    display: none;
    overflow: hidden;
    margin-left: 10px;
  }
  nav #nav-inner .nav-buttons .nav-btn-drop i {
    display: inline-block;
    color: #fff;
    font-size: 5px;
    line-height: 5px;
    padding: 30px 2px;
  }
  nav #nav-inner .nav-drop-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: top;
    height: 65px;
    width: 65px;
    display: inline-block;
    opacity: 1;
  }
  nav #nav-inner .nav-drop-button #nav-icon3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 35px;
    margin: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  nav #nav-inner .nav-drop-button #nav-icon3 span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  nav #nav-inner .nav-drop-button #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  nav #nav-inner .nav-drop-button #nav-icon3 span:nth-child(2),
nav #nav-inner .nav-drop-button #nav-icon3 span:nth-child(3) {
    top: 14px;
  }
  nav #nav-inner .nav-drop-button #nav-icon3 span:nth-child(4) {
    top: 28px;
  }
  nav #nav-inner .nav-drop-button #nav-icon3.open span:nth-child(1) {
    top: 14px;
    width: 0%;
    left: 50%;
  }
  nav #nav-inner .nav-drop-button #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  nav #nav-inner .nav-drop-button #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  nav #nav-inner .nav-drop-button #nav-icon3.open span:nth-child(4) {
    top: 14px;
    width: 0%;
    left: 50%;
  }
  nav #nav-inner .nav-account {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    height: 130px;
    vertical-align: top;
    width: auto;
    z-index: 2001;
    justify-content: center;
    align-content: center;
  }
  nav #nav-inner .nav-account a {
    clear: both;
    margin: 12.5px 10px;
  }
  nav #nav-inner .nav-account .login {
    border-color: #214031;
    color: #214031;
  }
  nav #nav-inner .nav-account .signup {
    background-color: #214031;
    color: #fff;
    border-color: #214031;
  }
  nav #nav-inner .nav-account .myaccount {
    color: #214031;
    border-color: #214031;
  }
  nav #nav-inner .nav-account .nav-account-photo {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    overflow: hidden;
  }
  nav #nav-inner .nav-account .nav-account-photo img {
    height: 40px;
    width: 40px;
  }
  nav #nav-inner .nav-account .nav-search {
    height: 65px;
    margin: 0 0 0 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: auto;
    min-width: 350px;
    position: absolute;
    top: 65px;
    right: 20px;
    left: 20px;
  }
  nav #nav-inner .nav-account .nav-search input[type=text] {
    border: solid 2px #214031;
    border-right: none;
  }
  nav #nav-inner .nav-account .nav-search input[type=text]::-webkit-input-placeholder, nav #nav-inner .nav-account .nav-search input[type=text]::placeholder {
    color: grey;
    font-size: 14px;
    display: block;
    line-height: 20px;
    vertical-align: top;
    font-family: tt_octosquares_condensedMd;
  }
  nav #nav-inner .nav-account .nav-search input[type=text]:focus {
    appearance: none;
    outline: none;
  }
  nav #nav-inner .nav-account .nav-search input[type=submit] {
    border: solid 2px #214031;
    border-left: none;
    color: #214031;
  }
  nav #nav-inner .nav-scroll {
    display: none;
    position: absolute;
    top: 65px;
    height: auto;
    max-height: 0px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: height linear 0.3s, border-color linear 0.3s, box-shadow linear 0.3s;
    overflow: hidden;
    background-color: #fff;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    box-shadow: 0 20px 10px transparent;
  }
}
footer {
  width: 100%;
  height: auto;
  background-color: #214031;
  text-align: center;
  display: block;
  padding: 0;
  margin: 10px 0 0 0;
  overflow: hidden;
}
footer img {
  height: 25px;
  margin: 12.5px 0;
  width: auto !important;
  display: inline-block;
  filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(307deg) brightness(110%) contrast(101%);
}
footer .footer-copy {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  padding: 19px 0 10px 10px;
  vertical-align: top;
}
footer .footer-terms, footer .footer-privacy {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  padding: 0 5px 20px 5px;
}
@media (max-width: 600px) {
  footer footer {
    width: 100%;
    height: auto;
    background-color: #214031;
    text-align: center;
    display: block;
    padding: 0;
    margin: 10px 0 0 0;
    overflow: hidden;
  }
  footer footer img {
    height: 25px;
    margin: 12.5px 0;
    width: auto !important;
    display: inline-block;
    filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(307deg) brightness(110%) contrast(101%);
  }
  footer footer .footer-copy {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    padding: 19px 0 10px 10px;
    vertical-align: top;
  }
  footer footer .footer-terms, footer footer .footer-privacy {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 0 5px 20px 5px;
  }
}
#content-wrapper {
  width: calc(100% - 20px);
  max-width: 1700px;
  margin: 15px auto;
  gap: 15px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  #content-wrapper {
    gap: 10px;
    margin: 10px auto;
  }
}
.col {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sec {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 0;
  border-radius: 10px;
  background: #fff;
  align-items: flex-start;
  align-content: flex-start;
}

.bottom-up {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4000;
}
.bottom-up .inner {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30%;
  border-radius: 10px 10px 0 0;
  background: #fff;
}
.bottom-up .inner h2 {
  color: #214031;
}
.bottom-up .inner .options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.bottom-up .inner .options .option {
  display: flex;
  flex-direction: row;
  height: 60px;
  flex: 1;
  gap: 10px;
  margin: 0 40px;
}
.bottom-up .inner .options .option img {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.bottom-up .inner .options .option div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  flex: 1;
}
.bottom-up .inner .options .option div .name {
  display: flex;
  font-size: 20px;
  line-height: 20px;
}
.bottom-up .inner .options .option div p {
  font-size: 14px;
  line-height: 14px;
  color: grey;
  display: flex;
}
.bottom-up .inner .options .option .btn {
  display: flex;
  margin: auto;
  background: #214031;
  color: #fff;
}
@media (max-width: 600px) {
  .bottom-up.visible {
    display: block;
  }
}
.bottom-up.visible + body {
  background: red;
  overflow: hidden;
  height: 100vh;
}

.stream-highlights {
  position: relative;
  text-align: left;
}
.stream-highlights h2 {
  text-align: left;
}
.stream-highlights .wrap {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 20px 20px 20px;
  justify-content: center;
  align-items: center;
}
.stream-highlights .wrap .clip {
  display: flex;
  flex: 1;
  height: auto;
  vertical-align: top;
  flex-direction: column;
  overflow: hidden;
}
.stream-highlights .wrap .clip .img-wrap {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.stream-highlights .wrap .clip .img-wrap img {
  width: 100%;
  height: auto !important;
  background: #3d3d3d;
}
.stream-highlights .wrap .clip a {
  text-align: left;
  font-size: 18px;
  padding: 10px 5px 5px 5px;
  display: block;
}
.stream-highlights .wrap .clip p {
  display: block;
  color: #d9af62;
  text-align: left;
  padding-left: 5px;
}
.stream-highlights .btn {
  position: absolute;
  right: 20px;
  top: 20px;
}
@media (max-width: 600px) {
  .stream-highlights {
    padding-bottom: 45px;
  }
  .stream-highlights .wrap {
    flex-direction: column;
  }
  .stream-highlights .btn {
    top: auto;
    bottom: 20px;
    background: #214031;
    color: #fff;
  }
}
.featured-live {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0 20px;
  gap: 15px;
  min-height: 55px;
}
.featured-live .indicator {
  color: #d9af62;
  font-family: tt_octosquares_condensedbold;
  font-size: 20px;
  margin: auto;
}
.featured-live .indicator i {
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: top;
  color: inherit;
  padding-left: 5px;
}
.featured-live .title {
  font-size: 16px;
  display: flex;
  margin: auto;
  white-space: nowrap;
}
.featured-live .leader {
  font-size: 16px;
  display: flex;
  margin: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.featured-live .leader span {
  line-height: 16px;
  font-size: 12px;
  color: grey;
  padding-left: 5px;
}
.featured-live .watch {
  margin: auto;
  align-self: flex-end;
  gap: 15px;
}
.featured-live .share {
  margin: auto;
  align-self: flex-end;
}
@media (max-width: 600px) {
  .featured-live {
    gap: 10px;
  }
  .featured-live .leader {
    display: none;
  }
  .featured-live .share {
    display: none;
  }
  .featured-live .title {
    flex: 1;
  }
}
.featured-tournament {
  flex-direction: row;
}
.featured-tournament .image {
  width: 60%;
  position: relative;
  display: inline-block;
}
.featured-tournament .image .preview {
  width: 100%;
  height: auto !important;
}
.featured-tournament .image .watermark {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  padding: 10px;
  opacity: 0.5;
}
.featured-tournament .content {
  display: inline-block;
  width: 40%;
  text-align: left;
  vertical-align: top;
}
.featured-tournament .content .featured {
  font-size: 14px;
  display: block;
  padding: 20px 20px 0px 20px;
  color: grey;
}
.featured-tournament .content .title {
  font-size: 24px;
  display: block;
  padding: 10px 20px 5px 22px;
}
.featured-tournament .content .date {
  display: block;
  padding: 0 22px;
  font-size: 16px;
  color: grey;
  font-family: tt_octosquares_condensedMd;
}
.featured-tournament .content .description {
  display: block;
  font-size: 16px;
  padding: 10px 35px 20px 25px;
  line-height: 18px;
  font-family: tt_octosquares_condensedMd;
}
.featured-tournament .content .stats {
  width: 100%;
  display: block;
  padding-left: 10px;
}
.featured-tournament .content .stats .player {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  padding: 0 20px;
}
.featured-tournament .content .stats .player .name {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 0 10px;
}
.featured-tournament .content .stats .player .name span {
  color: #214031;
}
.featured-tournament .content .stats .player .rank {
  display: inline-block;
  border-radius: 8px;
  border: solid 1px #214031;
  height: 20px;
  line-height: 20px;
  padding: 0 2px;
  font-size: 14px;
  min-width: 30px;
  text-align: center;
}
.featured-tournament .content .stats .player .top-rank {
  border-color: #d9af62;
  color: #d9af62;
}
.featured-tournament .content .stats .player:hover .name {
  text-decoration: underline;
}
.featured-tournament .content .more {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  font-family: tt_octosquares_condensedbold;
  display: inline-block;
}
@media (max-width: 600px) {
  .featured-tournament {
    flex-direction: column;
  }
  .featured-tournament .image {
    width: 100%;
    position: relative;
    display: block;
  }
  .featured-tournament .image .preview {
    width: 100%;
    height: auto !important;
  }
  .featured-tournament .image .watermark {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    padding: 10px;
    opacity: 0.5;
  }
  .featured-tournament .content {
    display: block;
    width: 100%;
    text-align: left;
  }
  .featured-tournament .lower-btns {
    width: calc(100% - 40px);
    height: auto;
    margin: 0 20px;
    text-align: right;
  }
  .featured-tournament .stats {
    padding-bottom: 15.5px;
  }
}
.featured-series {
  text-align: left;
  padding-bottom: 20px;
  flex-grow: 0;
}
.featured-series .featured {
  text-align: left;
  font-size: 14px;
  display: block;
  padding: 20px 20px 0px 20px;
  color: grey;
}
.featured-series .series-wrap {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  flex-wrap: nowrap;
  width: calc(100% - 40px);
  margin: 0 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.featured-series .series-wrap .tournament {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.featured-series .series-wrap .tournament img {
  display: flex;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  height: auto !important;
  box-sizing: border-box;
}
.featured-series .series-wrap .tournament .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  min-width: 200px;
}
.featured-series .series-wrap .tournament .content .title {
  font-size: 20px;
  display: block;
}
.featured-series .series-wrap .tournament .content .date {
  display: block;
  font-size: 16px;
  color: grey;
  font-family: tt_octosquares_condensedMd;
}
.featured-series .series-wrap .tournament .content .winner {
  font-size: 14px;
}
.featured-series .series-wrap .tournament .content .winner i {
  font-size: 14px;
  color: #d9af62;
}
.featured-series .series-wrap::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}
.featured-series .series-wrap::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}
.featured-series .series-wrap::-webkit-scrollbar-thumb {
  background-color: #2e5945;
  border-radius: 4px;
}
.featured-series .series-wrap::-webkit-scrollbar-thumb:hover {
  background-color: #2e5945;
}
.featured-series h2 {
  display: block;
  padding: 10px 20px 5px 22px;
  text-align: left;
}
@media (max-width: 600px) {
  .featured-series .series-wrap .tournament img {
    width: 100px;
    height: auto !important;
  }
  .featured-series .series-wrap .tournament .content {
    padding: 5px;
  }
  .featured-series .series-wrap .tournament .content .title {
    font-size: 18px;
  }
  .featured-series .series-wrap .tournament .content .date {
    font-size: 16px;
  }
  .featured-series .series-wrap .tournament .content .winner {
    font-size: 15px;
  }
  .featured-series .series-wrap .tournament .content .winner i {
    font-size: 15px;
  }
}
.play-steps {
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
  align-content: center;
}
.play-steps .step {
  display: flex;
  flex: 1;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2e5945;
}
.play-steps .step i {
  display: block;
  font-size: 35px;
  margin: 20px 0 10px 0;
}
.play-steps .step h3 {
  display: block;
  font-size: 16px;
  color: #214031;
  padding: 10px;
}
.play-steps .step p {
  display: block;
  font-size: 14px;
  color: #214031;
  padding: 0 20px 10px 20px;
  font-family: tt_octosquares_condensedMd;
}
.play-steps .step p a {
  text-decoration: underline;
}
.play-steps .step p span {
  font-family: tt_octosquares_condensedbold;
}
.play-steps .next {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
.play-steps .next i {
  display: flex;
  font-size: 20px;
  width: 20px;
  text-align: center;
  color: #214031;
  opacity: 0.2;
}
@media (max-width: 600px) {
  .play-steps {
    flex-direction: column;
  }
  .play-steps .next {
    transform: rotate(90deg);
  }
  .play-steps .step i {
    font-size: 45px;
  }
  .play-steps .step h3 {
    font-size: 22px;
  }
  .play-steps .step p {
    font-size: 18px;
    max-width: 60%;
  }
}
.feed h2 {
  text-align: left;
}

.app-prev {
  text-align: left;
  min-height: 200px;
}
.app-prev p {
  font-size: 16px;
  line-height: 22px;
  padding: 0 20px 20px 30px;
  max-width: 100%;
}
.app-prev a {
  margin: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.app-prev li {
  width: 100%;
  height: 50px;
  display: block;
  text-align: left;
  font-size: 18px;
  padding-left: 10px;
}
.app-prev li i {
  font-size: 8px;
  display: inline-block;
  vertical-align: top;
  padding: 6px 3px 8px 0;
}
.app-prev .phone {
  position: absolute;
  right: 20px;
  bottom: -100px;
  border: solid 2px #2e5945;
  border-radius: 12px;
  width: 100px;
  height: 200px;
  transform: rotate(10deg) scale(0.8);
}
.app-prev .phone span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 25px;
  left: 25px;
  height: 10px;
  background: #214031;
  border-radius: 0 0 5px 5px;
}
.app-prev .phone span:nth-child(1) i {
  border-radius: 2.5px;
  position: absolute;
  left: 5px;
  top: 2px;
  background: white;
  width: 5px;
  height: 5px;
}
.app-prev .phone span:nth-child(1) span {
  border-radius: 2.5px;
  position: absolute;
  left: 15px;
  top: 3.5px;
  background: white;
  width: 25px;
  height: 2px;
}
.app-prev .phone span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 75px;
  height: 10px;
  width: 10px;
  background: #214031;
}
.app-prev .phone span:nth-child(2) div {
  position: absolute;
  top: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-radius: 0 5px 0 0;
  background: white;
}
.app-prev .phone span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 75px;
  height: 10px;
  width: 10px;
  background: #214031;
}
.app-prev .phone span:nth-child(3) div {
  position: absolute;
  top: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-radius: 5px 0 0 0;
  background: white;
}
.app-prev .phone img {
  position: absolute;
  width: 60%;
  height: auto !important;
  top: 50px;
  right: 20%;
  left: 20%;
  filter: invert(20%) sepia(19%) saturate(958%) hue-rotate(99deg) brightness(94%) contrast(90%);
}
@media (max-width: 600px) {
  .app-prev .phone {
    transform: rotate(10deg);
    right: 45px;
  }
}
.goal-support {
  text-align: left;
  height: 140px;
  overflow: hidden;
  min-height: 200px;
}
.goal-support .goal-prev-slide {
  width: 100%;
  height: auto;
  max-height: 140px;
  position: relative;
  display: none;
  overflow: hidden;
}
.goal-support .goal-prev-slide-bar {
  position: absolute;
  left: 30px;
  bottom: 0px;
  width: 10px;
  height: 130px;
  background: lightgrey;
  vertical-align: bottom;
}
.goal-support .goal-prev-slide-bar-inner {
  position: absolute;
  bottom: 0;
  vertical-align: bottom;
  background: #2e5945;
  right: 3px;
  left: 3px;
}
.goal-support .goal-prev-slide-bar-circle {
  position: absolute;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  left: -7.5px;
  background: lightgrey;
}
.goal-support .goal-prev-slide-bar-circle-inner {
  position: absolute;
  top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  left: 5px;
  background: #2e5945;
  display: none;
}
.goal-support .goal-prev-slide-bar .bottom {
  height: 20px;
  bottom: auto;
}
.goal-support .goal-prev-slide-bar .off {
  background: transparent;
}
.goal-support .goal-prev-slide-content {
  vertical-align: top;
  width: calc(100% - 100px);
  margin: 0 30px 30px 70px;
}
.goal-support .goal-prev-slide-content h2 {
  text-align: left;
  padding: 0;
}
.goal-support .goal-prev-slide-content p {
  padding: 10px 10px 0 0;
  text-align: left;
  display: block;
  font-family: tt_octosquares_condensedMd;
  max-height: 62px;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.goal-support .goal-prev-slide-content a {
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  display: block;
  padding-bottom: 5px;
  text-align: left;
}
.site-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
}
.site-stat div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.site-stat h2 {
  display: flex;
  font-family: tt_octosquares_condensedMd;
  color: #3d3d3d;
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 1em;
}
.site-stat a {
  color: #214031;
  padding-bottom: 10px;
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
}

.top-notify {
  text-align: center;
}
.top-notify p {
  font-family: tt_octosquares_condensedbold;
  font-size: 16px;
  color: #2e5945;
  padding: 20px;
  line-height: 16px;
}
.top-notify a {
  vertical-align: top;
  display: inline-block;
  color: #cf9a39;
  font-size: 16px;
  text-decoration: underline;
}

.text-white {
  color: #fff;
}

.text-lightgreen {
  color: #2e5945;
}

.text-darkgreen {
  color: #214031;
}

.text-grey {
  color: grey;
}

.text-lightgrey {
  color: #e8e8e8;
}

.text-darkgrey {
  color: #3d3d3d;
}

.text-tan {
  color: #d9af62;
}

.bkg-none {
  background: transparent;
}

.bkg-white {
  background: #fff;
}

.bkg-darkgreen {
  background: #214031;
}

.bkg-lightgreen {
  background: #2e5945;
}

.bkg-tan {
  background: #d9af62;
}

.bkg-lightgrey {
  background: #e8e8e8;
}

.bkg-grey {
  background: grey;
}

.border-white {
  border-color: #fff;
}

.border-darkgreen {
  border-color: #214031;
}

.border-lightgreen {
  border-color: #2e5945;
}

.border-tan {
  border-color: #d9af62;
}

.border-none {
  border-color: #fff;
}

.border-lightgrey {
  border-color: #e8e8e8;
}

.border-grey {
  border-color: grey;
}

.border-transparent {
  border-color: transparent;
}

.margin-vertical {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-right {
  margin-right: 20px;
}

.margin-left {
  margin-left: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.bold {
  font-family: tt_octosquares_condensedbold;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.span-white i {
  color: #fff;
}

.primary-font {
  font-family: tt_octosquares_condensedbold;
}

/*# sourceMappingURL=master.css.map */
