

/* Extra small devices (phones, 600px and down)*/
@import url('phone-large.css') only screen and (max-width: 600px);

/* Small devices (portrait tablets and large phones, 600px and up) */
@import url('phone-large.css') only screen and (min-width: 600px) and (max-width: 767px);

/* Medium devices (landscape tablets, 768px and up) */
@import url('desktop-small.css') only screen and (min-width: 768px) and (max-width: 991px);

/* Large devices (laptops/desktops, 992px and up) */
@import url('desktop-medium.css') only screen and (min-width: 992px) and (max-width: 1699px);

/* Extra large devices (large laptops and desktops, 1200px and up) */
@import url('desktop-large.css') only screen and (min-width: 1700px);







.dark-mode{
	nav, footer{
		background:#214031;
	}
	.nav-logo-f1{
		background:#8c713f;
	}
	.nav-logo-f2{
		background:grey;
	}
	.nav-logo-f3{
	}
	.nav-logo-wrap{
		background:#214031;
	}
	background:black;
	.sec{
		background:black;
		border:solid 2px #0d0d0d;
	}
	.bkg-darkgreen{
		background:black;
	}
	.btn{color:grey}
	.text-white{color:grey;}
	.text-tan{color:#8c713f;}
	.border-tan{border-color:#8c713f;}
	.bkg-tan{background:#8c713f;}
}








