{% extends 'base_layout.html' %}
{% load static %}
{% block content %}




<section class="col col-20 col-m-max-width m-order-2">
    <section class="sec">
        <h2>TOP 10 SBS RANKING</h2>
        {% for rank_data in top_ten_ranks %}
        {% if forloop.first %}
        <script>
          $(document).ready(function(){
            $('.rankings-offline').hide();
            $('.rankings-row').show();
          });
      </script>
        {% endif %}
        <div class="row-b rankings-row" style="display:none;">
        <a class="row-b-c row-b-c1 bold {% if rank_data.2 == '1st' or rank_data.2 == '2nd' or rank_data.2 == '3rd' or rank_data.2 == '4th' %}text-tan{%endif%}">{{ rank_data.2 }}</a>
        <a class="row-b-c row-b-c2">{{ rank_data.1|safe }}</a>
        <a class="row-b-btn btn btn-small border-none" href="/account/view/{{ rank_data.0 }}">VIEW</a>
      </div>
        {% endfor %}
        <div class="rankings-offline">
        <h2 class="text-lightgrey">RANKING SYSTEM IS CURRENTLY OFFLINE</h2>
    </div>
        <a class="btn btn-full text-white bkg-darkgreen border-none">VIEW RANKINGS</a>
    </section>
    {% if bowler_of_month is not None %}
    <section class="sec">
        <h2>BOWLER OF THE MONTH</h2>
        <div class="bom-pic-wrap">
            <div class="bom-pic-rank-wrap">
                <a class="bom-pic-rank">1st</a>
            </div>
            <div class="bom-pic">
                <img src="{{ bowler_of_month.picture.url }}" alt="{{ bowler_of_month.first_name}}'s profile picture">
            </div>
        </div>
        <a class="bom-name">{{ bowler_of_month.first_name}}&nbsp;{{ bowler_of_month.last_name }}</a>
        <a class="bom-location">{{ bowler_of_month.location_city|none_replace:'Flint' }}, {{ bowler_of_month.location_state|none_replace:'Michigan' }}</a>
        <a class="btn btn-full text-white bkg-darkgreen border-none" href="account/view/{{ bowler_of_month.user_id }}">VISIT PROFILE</a>
    </section>
    {% endif %}

</section>
<section class="col col-60 col-m-max-width m-order-1">
    <section class="account-topbar">
        <section class="account-sort std-radius">
            <a>SORT BY <i class="icon-angle-down"></i></a>
        </section>
        <section class="account-page std-radius">
            <a>50 / PAGE <i class="icon-angle-down"></i></a>
        </section>
        <section class="account-count std-radius">
            <input id="bowlers-show-stats" type="checkbox" checked><a>SHOW STATS</a>
        </section>
    </section>
    <section class="sec account-list">
        {% if bowlers_count == 0 %}
            <h2 class="no-results">NO RESULTS FOUND</h2>
        {% else %}
        {% for bowler in bowlers %}
        <section class="account-preview">
            <div class='account-image'><img src="/account/data/profile-pic/{{ bowler.0 }}"></div>
            <div class="account-container account-half-width">
                <a href="/account/view/{{ bowler.0 }}" class="account-name">{{ bowler.1 }}</a>
                <a href="/account/view/{{ bowler.0 }}" class="account-location">{{ bowler.2 }}</a>
                <div class="account-stats">
                    <div class="stat"><a>{{ bowler.3 }}</a><span>RANK</span></div>
                    <div class="stat"><a>{{ bowler.4 }}</a><span>ATTEND</span></div>
                    <div class="stat"><a>{{ bowler.5 }}</a><span>WINS</span></div>
                    <div class="stat"><a>{{ bowler.6 }}</a><span>AVG</span></div>
                </div>
                <a href="/account/view/{{ bowler.0 }}" class="account-view btn btn-medium desktop-on">VIEW PROFILE</a>
            </div>
        </section>
        {% endfor %}
        {% endif %}
    </section>
    {% if page != None %}
    <section class="account-pagebar">
        <section class="account-pages std-radius">
            <a class="sep {{ page.pagestyles.0 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.0 }}">|<i class="icon-arrow-right left"></i></a>
            <a class="sep {{ page.pagestyles.1 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.1 }}"><i class="icon-arrow-right left"></i></a>
            <a class="{{ page.pagestyles.2 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.2 }}">{{ page.pagelinks.2 }}</a>
            <a class="{{ page.pagestyles.3 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.3 }}">{{ page.pagelinks.3 }}</a>
            <a class="{{ page.pagestyles.4 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.4 }}">{{ page.pagelinks.4 }}</a>
            <a class="{{ page.pagestyles.5 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.5 }}">{{ page.pagelinks.5 }}</a>
            <a class="{{ page.pagestyles.6 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.6 }}">{{ page.pagelinks.6 }}</a>
            <a class="{{ page.pagestyles.7 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.7 }}">{{ page.pagelinks.7 }}</a>
            <a class="sep {{ page.pagestyles.8 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.8 }}"><i class="icon-arrow-right"></i></a>
            <a class="sep {{ page.pagestyles.9 }}" href="/bowlers/{% if search != '' %}search/{{ search }}/{% endif %}page/{{ page.pagelinks.9 }}"><i class="icon-arrow-right"></i>|</a>
        </section>
    </section>
    {% endif %}
</section>
<section class="col col-20 col-m-max-width m-order-3">
    <section class="sec desktop-on">
        <h3 class="tournament-filter-header standard-title text-dark-green">FILTERS</h3>
        <div class="tournament-filter-container">
            <div class="tournament-filter-icon">
                <i class="icon-circle"></i>
            </div><div class="tournament-filter-section">
                <a class="tournament-filter-title">ALL BOWLERS</a>
            </div>
        </div>
        <div class="tournament-filter-container">
            <div class="tournament-filter-icon">
                <i class="icon-circle1"></i>
            </div><div class="tournament-filter-section">
                <a class="tournament-filter-title">SEARCH BY ZIP</a>
                <input type="zip" class="tournament-filter-zip" placeholder="ZIP CODE">
            </div>
        </div>
        <div class="tournament-filter-container">
            <div class="tournament-filter-icon">
                <i class="icon-circle1"></i>
            </div><div class="tournament-filter-section">
                <a class="tournament-filter-title">MILE RADIUS</a>
                <input class="tournament-filter-miles" type="range" min="10" max="250" value="125" class="slider" id="myRange">
                <div class="tournament-filter-miles-label-container">
                    <a class="first">10</a>
                    <a class="second">125</a>
                    <a class="third">250+</a>
                </div>
            </div>
        </div>
    </section>
    {% if request.user is not None and request.user.admin == True %}
    <section class="sec">
        <h3 class="standard-title text-dark-green">ADMIN FUNCTIONS</h3>
        <a href="/tournaments/create" class="btn btn-full text-white bkg-lightgreen">CREATE TOURNAMENT</a>
        <a href="/tournaments/create" class="btn btn-full text-white bkg-lightgreen" style="margin-top:0;">VIEW DEEP STATS</a>
    </section>
    {% endif %}
    <section class="sec sitestat">
        <div class="sitestat-half">
          <a>BOWLERS</a>
          <h2>{% if bowlers_count is None %}0{% else %}{{ bowlers_count }}{% endif %}</h2>
        </div><div class="sitestat-half">
          <a>ONLINE</a>
          <h2>{% if online_count is None %}0{% else %}{{ online_count }}{% endif %}</h2>
        </div>
      </section>
</section>
<script>
    $(document).ready(function() {
    //set initial state.

    $('#bowlers-show-stats').change(function() {
        console.log('checked');
        if(this.checked) {
            $('.account-stats').show();
            $('.account-container').css('margin-top', '0px');
            $('.account-preview').css('height', '120px');
        }
        else{
            $('.account-stats').hide();
            $('.account-container').css('margin-top', '20px');
            $('.account-preview').css('height', '100px');
        }
    });
});
</script>
{% endblock %}