
{% load basic-tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <!-- Page -->
      <meta charset="utf-8">
      <title>{% if page_title %}{{ page_title }} | {% endif %}Scratch Bowling Series</title>

      <meta name="identifier-url" content="https://scratchbowling.com" />
      <meta name="author" content="Scratch Bowling Series" />
      <meta name="revisit-after" content="15" />
      <meta name="language" content="EN" />
      <meta name="copyright" content="&copy; 2021 Scratch Bowling Series" />
      <meta name="robots" content="All" />

      <meta name="title" content="{% if page_title != 'none' %}{{ page_title }} | {% endif %}Scratch Bowling Series" />
      <meta name="description" content="{{ page_description }}" />
      <meta name="abstract" content="{{ page_description }}" />
      <meta name="keywords" content="bowliing, tournaments, scratch bowling, {{ page_keywords }}" />

      <meta property="og:title" content="{% if page_title != 'none' %}{{ page_title }} | {% endif %}Scratch Bowling Series">
      <meta property="og:description" content="{{ page_description }}">
      <meta property="og:image" content="{{ social_image }}">

      <meta name="twitter:title" content="{% if page_title != 'none' %}{{ page_title }} | {% endif %}Scratch Bowling Series">
      <meta name="twitter:description" content="{{ page_description }}">
      <meta name="twitter:image" content="{{ social_image }}">
      <meta name="twitter:card" content="summary_large_image">




      <!-- Favicon -->
      <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
      <!-- Device -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Reset -->
      <link rel="stylesheet" href="{% static 'css/reset.css' %}">
      <!-- ICONS -->
      <link rel="stylesheet" href="{% static 'css/sbs-icons.css' %}">
      <script src="https://kit.fontawesome.com/892442ba34.js" crossorigin="anonymous"></script>
      <!-- Master CSS -->
      <link rel="stylesheet" href="{% static 'css/master.css' %}">

      <!--JQuery -->
      <script src="{% static 'js/jquery.min.js'%}"></script>
      <script src="{% static 'js/navigation.js' %}"></script>
      <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
        window.authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};

        $(document).ready(function(){
            var glower = $('.glow');
            window.setInterval(function() {
                glower.toggleClass('active');
            }, 2000);
        });
      </script>


  </head>

  <body class="bkg-lightgrey">
{#    <!-- Facebook SDK -->#}
{#    <div id="fb-root"></div>#}
{#    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="gbpECBwg"></script>#}
{##}
{#    <!-- Google Analytics -->#}
{#    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDEFJ46BXS"></script>#}
{#    <script>#}
{#      window.dataLayer = window.dataLayer || [];#}
{#      function gtag(){dataLayer.push(arguments);}#}
{#      gtag('js', new Date());#}
{#      gtag('config', 'G-PDEFJ46BXS');#}
{#    </script>#}

    <script>
      const setDarkMode = (value) => {
          if (value) {
              document.body.className = 'dark-mode';
              sessionStorage.setItem('dark-mode', 'true');
          } else {
              $('body').removeClass('dark-mode');
              sessionStorage.setItem('dark-mode', 'false');
          }
      }
      if (sessionStorage.getItem('dark-mode') === 'true') {
          setDarkMode(true);
          $('#dark-mode-selector').prop('checked', true);
      } else {
          setDarkMode(false);
          $('#dark-mode-selector').prop('checked', false);
      }
      $(document).ready(() => {
          $('#dark-mode-selector').change(() => {
              setDarkMode($('#dark-mode-selector').prop('checked'))
          });
      });
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          //$('body').addClass('dark-mode');
      } else {
          $('body').removeClass('dark-mode');
      }
    </script>

    <!-- Fonts -->
  	<style type="text/css">
  	    @font-face {
            font-family: 'tt_octosquares_condensedblack';
            src: url({% static 'fonts/ttoctosquares/TTOctosquaresCond-Black.ttf' %}) format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'tt_octosquares_condensedbold';
            src: url({% static 'fonts/ttoctosquares/TTOctosquaresCond-Bold.ttf' %}) format('truetype');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'tt_octosquares_condensedIt';
            src: url({% static 'fonts/ttoctosquares/TTOctosquaresCond-Italic.ttf' %}) format('truetype');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'tt_octosquares_condensedlight';
            src: url({% static 'fonts/ttoctosquares/TTOctosquaresCond-Light.ttf' %}) format('truetype');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'tt_octosquares_condensedMd';
            src: url({% static 'fonts/ttoctosquares/TTOctosquaresCond-Regular.ttf' %}) format('truetype');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'tt_octosquares_condensedRg';
            src: url({% static 'fonts/ttoctosquares/TTOctosquaresCond-Regular.ttf' %}) format('truetype');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'tt_octosquares_condensedthin';
            src: url({% static 'fonts/ttoctosquares/TTOctosquaresCond-Regular.ttf' %}) format('truetype');
            font-weight: normal;
            font-style: normal;

        }
          @font-face
          {
            font-family: 'sbs-icons';
            src: url({% static 'fonts/icons/sbs-icons.ttf' %}) format('truetype');
            font-weight: normal;
            font-style: normal;
            font-display: block;
          }

  	</style>

    <!-- Nav Bar -->
    {% navigation_bar request %}

    <!-- Popup -->
    {% if popup != None and False %}
    <div class="popup" popupId="{{ popup.popup_id }}">
        <div class="pop-inner">
            <i class="icon-times close pop-close mobile-on" remind="once"></i>
            {% if popup.popup_id == 1 %}
                <h2>WElCOME TO SBS <span style="font-size:16px;">BETA</span></h2>
                <p>We are happy to announce the first version of our new ecosystem.
                    Thank you for coming aboard our journey to make bowling better.<br>
                    There will be quite a few changes to the way we do things.
                    All to better the experience for you, the bowler.<br><br>
                    We ask for your patience as we work to get things just right.
                    If you experience any bugs along the ride, please report them <a href="{% url 'contact' %}" class="pop-close">here</a>.<br><br>
                    Have fun!<br><br>
                    <span>The Scratch Bowling Team</span><br><br></p>
                <div class="btn-bar-right margin-top">
                    <a class="btn pop-btn bkg-darkgreen text-white pop-continue margin-right-10" data="{% url 'support:support' %}" remind="never">LEARN MORE</a>
                    <a class="btn pop-btn pop-close" remind="never">OK</a>
                </div>
            {% elif popup.popup_id == 2 %}
                <h2>CLAIM YOUR OLD SBS DATA</h2>
                <p>Have you bowled with us before?<br>We recently migrated the old bowler data to our new ecosystem.<br><br>Claim your old data below by finding your unclaimed account and clicking 'CLAIM'.</p>

                {% for shadow in popup.data %}
                    {% if forloop.first %}<label>Best Match</label>{% endif %}
                    <div class="popup-claim">
                        <a class="claim-name">{{shadow.0}} <span>{{shadow.1}}</span></a>
                        <a data="{{ shadow.2 }}" class="btn btn-medium claim-btn">CLAIM</a>
                    </div>
                    {% if forloop.first and popup.data_length > 1 %}<label>Others</label>{% endif %}
                {% endfor %}
                <div class="btn-bar-right margin-top">
                    <a class="btn pop-close margin-right-10" remind="never">NO THANKS</a>
                    <a class="btn text-white bkg-darkgreen pop-close" remind="default">REMIND ME LATER</a>
                </div>

            {% elif popup.popup_id == 3 %}
            {% elif popup.popup_id == 4 %}
            {% elif popup.popup_id == 5 %}
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/popup.js' %}"></script>
    {% endif %}

    <!-- Content -->
    <div id="content-wrapper">
      {% block content%}

      {% endblock %}
    </div>

    <!-- Share Box -->
    <div class="sharebox">
        <div class="sharebox-inner">
            <i class="icon-times close"></i>
            <h2>SHARING OPTIONS</h2>
            <a class="share-link">https://scratchbowling.com/s/EA4J9</a><a class="link-copy"><i class="icon-link text-white"></i></a>
            <div class="share-buttons">
                <a class="share-button" style="background:#0F87EE;" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="icon-facebook"></i>SHARE</a>
                <a class="share-button" style="background:#5DA9DD;" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="icon-twitter"></i>TWEET</a>
                <a class="share-button" style="background:#FF4400;" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="icon-reddit-alien"></i>POST</a>
            </div>
        </div>
        <script>window.fbAsyncInit = function () {
        FB.init({
            xfbml:false  // Will stop the fb like button from rendering automatically
        });
    };</script>
    </div>

    <!-- App Available Notify -->
    <div class="bottom-up">
        <div class="inner">
            <h2>CONTINUE TO SBS USING...</h2>
            <div class="options">
                <div class="option">
                    <img src="{% static 'img/sbs_bowler_icon.png' %}" alt="">
                    <div>
                        <a class="name">SBS BOWLER</a>
                        <p>Bowler Companion App</p>
                    </div>
                    <a class="btn open-sbs-bowler">OPEN</a>
                </div>
                <div class="option">
                    <img src="{% static 'img/sbs_mobile_icon.png' %}" alt="">
                    <div>
                        <a class="name" href="exps://bowler.scratchbowling.com">SBS MOBILE</a>
                        <p>This website, in an app.</p>
                    </div>
                    <a class="btn open-sbs-mobile">OPEN</a>
                </div>
                <div class="option">
                    <img class="browser-icon" src="{% static 'img/chrome_icon.png' %}" alt="">
                    <div>
                        <a class="name">BROWSER</a>
                        <p>Your current browser.</p>
                    </div>
                    <a class="btn continue">VIEW</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/appAvailable.js' %}"></script>



{#    <!-- Messenger -->#}
{#    {% if request.user.is_authenticated and settings.allow_messenger %}#}
{#    <div class="messenger-wrap">#}
{#        <div class="messenger">#}
{#          <i class=" msg-icon icon-paper-plane"></i>#}
{#          <div class="msg-notify">#}
{#              <i class="msg-notify-icon">5</i>#}
{#          </div>#}
{#          <div class="expand-container">#}
{#            <div class="topbar">#}
{#                <a class="title">MESSENGER</a>#}
{#            </div>#}
{#              <div class="scroll-content">#}
{#                  {% if online_friends != None %}#}
{#                  {% endif %}#}
{#                  {% if offline_friends != None %}#}
{#                  {% endif %}#}
{#                  {% if offline_friends == None and online_friends == None %}#}
{#                    <a class="no-friends">WE'RE SORRY...<br><br>YOU DON'T HAVE ANY FRIENDS</a>#}
{#                  <a class="btn add-friend close-messenger" href="{% url 'bowlers:bowlers' %}">FIND FRIENDS</a>#}
{#                  {% endif %}#}
{#              </div>#}
{#        </div>#}
{#        <i id="msg-close" class="icon-times"></i>#}
{#        </div>#}
{#    </div>#}
{#    {% endif %}#}

{#    <script src="{% static 'js/messenger.js' %}"></script>#}
    <script src="{% static 'js/share.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>

    <!-- Footer -->
    <footer>
        <div class="inner bkg-darkgreen">
            <section class="foot-start">
                <a href="{% url 'index' %}">
                <img src="{% static 'img/SBS_Logo_Beta.png' %}" ref="Scratch Bowling Series">
                </a>
                <h2>THE SCRATCH BOWLING SERIES</h2>
                <p>Welcome to our Beta! We've been hard at work this past year rebuilding SBS from the ground up. Thank you for coming along the journey. You can learn more in our <a href="{% url 'about' %}">About Us</a>.</p>

                <div class="dark-selector">
                    <a class="text-white">Dark Mode</a>
                    <label class="switch">
                      <input id="dark-mode-selector" type="checkbox">
                      <span class="slider round"></span>
                    </label>
                </div>
            </section>
            <section class="foot-sec">
                <h3>QUICK LINKS</h3>
                <a href="{% url 'tournaments:upcoming' %}">Tournaments</a>
                <a href="{% url 'bowlers:bowlers' %}">Bowlers</a>
                <a href="{% url 'broadcasts:broadcasts' %}">Broadcasts</a>
                <a href="{% url 'scoreboard:index' %}">Rankings</a>
            </section>
            <section class="foot-sec">
                <h3>PAYMENTS</h3>
                <a href="">Balances</a>
                <a href="">Cash Out</a>
                <a href="">Deposit</a>
                <a href="">Reports & Tax</a>
            </section>
            <section class="foot-sec">
                <h3>SUPPORT</h3>
                <a href="{% url 'help-center' %}">Help Center</a>
                <a href="{% url 'live-chat' %}">Live Chat</a>
                <a href="{% url 'contact' %}">Contact Us</a>
                <a href="{% url 'faqs' %}">FAQ's</a>
            </section>
            <section class="foot-sec">
                <h3>OUR COMPANY</h3>
                <a href="{% url 'about' %}">About Us</a>
                <a href="{% url 'support:support' %}">Goals</a>
                <a href="#">Sponsors</a>
                <a href="#">Careers</a>
            </section>
            <section class="foot-sec">
                <h3>SOCIAL</h3>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Youtube</a>
                <a href="#">Reddit</a>
            </section>

        </div>
        <section class="foot-bottom">
            <div class="inner">
                <a class="title text-darkgreen">&copy 2021-2022 Scratch Bowling Series</a>
                <a class="link text-darkgreen" href="{% url 'terms' %}">Terms & Conditions</a>
                <a class="link text-darkgreen" href="{% url 'privacy' %}">Privacy Policy</a>
                <a class="status text-darkgreen"><i class="icon-circle"></i> ALL SYSTEMS OPERATIONAL</a>
            </div>
        </section>
    </footer>

  </body>
</html>







