{% extends 'base_layout.html' %}

{% load static %}
{% load basic-tags %}

{% block content %}

    <!-- Left Column : ( Last10Winners, Top10Rankings )-->
    <div class="col col-20 col-m-max-width m-order-2">
        {% basic_recent_winners %}
        {% basic_top_ranks %}
        {% basic_goal_support %}
    </div>

    <!-- Center Column : ( TopNotify, LivePrev, RecentPrev, DesktopGoal, DesktopAppPrev, LiveHighlights )-->
    <section class="col col-60 col-m-max-width m-order-1" >
        {% basic_top_notify request %}
        {% basic_featured_live %}
        {% basic_featured_tournament %}
        {% basic_featured_series %}
        {% basic_play_steps %}
        {% basic_stream_highlights %}
        <section class="sec feed">
            <h2>FEED</h2>
        </section>
    </section>

    <!-- Right Column : ( UpcomingTournaments, BowlerOfMonth, SiteStat )-->
    <section class="col col-20 col-m-max-width m-order-3">
        {% basic_upcoming_tournaments %}
        {% basic_bowler_of_month %}
        {% basic_app_info %}
        {% basic_site_stats %}
    </section>

{% endblock %}