{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

<section class="col col-20 col-m-max-width m-order-2">
    <section class="sec looking-for-centers">
        <h2>LOOKING FOR CENTERS</h2>
        <p>Would you like to have SBS come to your bowling center?</p>
        <a href="" class="btn btn-full bkg-darkgreen text-white">LEARN MORE</a>
    </section>
</section>
<section class="col col-60 col-m-max-width m-order-1">
    <section class="tournament-topbar">
        <section class="account-sort std-radius">
            <a>SORT BY <i class="icon-angle-down"></i></a>
        </section>
        <section class="account-page std-radius">
            <a>50 / PAGE <i class="icon-angle-down"></i></a>
        </section>
    </section>
    <section class="sec account-list">
        {% for center in centers %}
        <section class="account-preview">

            <div class='account-image'><img src="/media/{{ bowler.5 }}"></div>
            <div class="account-container account-half-width">
                <a href="/account/view/{{ bowler.0 }}" class="account-name">{{ center.1 }}</a>
                <a href="/account/view/{{ bowler.0 }}" class="account-location">{{ center.2 }}, {{ center.3 }}</a>
                <div class="account-stats">
                    <div class="stat"><a>2,052nd</a><span>RANK</span></div>
                    <div class="stat"><a>43</a><span>ATTEND</span></div>
                    <div class="stat"><a>106</a><span>WINS</span></div>
                    <div class="stat"><a>260</a><span>AVG</span></div>
                </div>
                <a href="/account/view/{{ bowler.0 }}" class="account-view btn btn-medium">VIEW</a>
            </div>
            {% if not forloop.last %}
            <div class="standard-underline"></div>
            {% endif %}
        </section>
        {% endfor %}
    </section>
    {% if page != None %}
    <section class="account-pagebar">
        <section class="account-pages std-radius">
            <a class="sep {{ page.pagestyles.0 }}" href="/centers/page/{{ page.pagelinks.0 }}">|<i class="icon-arrow-right left"></i></a>
            <a class="sep {{ page.pagestyles.1 }}" href="/centers/page/{{ page.pagelinks.1 }}"><i class="icon-arrow-right left"></i></a>
            <a class="{{ page.pagestyles.2 }}" href="/centers/page/{{ page.pagelinks.2 }}">{{ page.pagelinks.2 }}</a>
            <a class="{{ page.pagestyles.3 }}" href="/centers/page/{{ page.pagelinks.3 }}">{{ page.pagelinks.3 }}</a>
            <a class="{{ page.pagestyles.4 }}" href="/centers/page/{{ page.pagelinks.4 }}">{{ page.pagelinks.4 }}</a>
            <a class="{{ page.pagestyles.5 }}" href="/centers/page/{{ page.pagelinks.5 }}">{{ page.pagelinks.5 }}</a>
            <a class="{{ page.pagestyles.6 }}" href="/centers/page/{{ page.pagelinks.6 }}">{{ page.pagelinks.6 }}</a>
            <a class="{{ page.pagestyles.7 }}" href="/centers/page/{{ page.pagelinks.7 }}">{{ page.pagelinks.7 }}</a>
            <a class="sep {{ page.pagestyles.8 }}" href="/centers/page/{{ page.pagelinks.8 }}"><i class="icon-arrow-right"></i></a>
            <a class="sep {{ page.pagestyles.9 }}" href="/centers/page/{{ page.pagelinks.9 }}"><i class="icon-arrow-right"></i>|</a>
        </section>
    </section>
    {% endif %}
</section>
<section class="col col-20 col-m-max-width m-order-3">
    <section class="sec desktop-on">
        <h3 class="tournament-filter-header standard-title text-dark-green">FILTERS</h3>
        <div class="tournament-filter-container">
            <div class="tournament-filter-icon">
                <i class="icon-circle"></i>
            </div><div class="tournament-filter-section">
                <a class="tournament-filter-title">ALL CENTERS</a>
            </div>
        </div>
        <div class="tournament-filter-container">
            <div class="tournament-filter-icon">
                <i class="icon-circle1"></i>
            </div><div class="tournament-filter-section">
                <a class="tournament-filter-title">SEARCH BY ZIP</a>
                <input type="zip" class="tournament-filter-zip" placeholder="ZIP CODE">
            </div>
        </div>
        <div class="tournament-filter-container">
            <div class="tournament-filter-icon">
                <i class="icon-circle1"></i>
            </div><div class="tournament-filter-section">
                <a class="tournament-filter-title">MILE RADIUS</a>
                <input class="tournament-filter-miles" type="range" min="10" max="250" value="125" class="slider" id="myRange">
                <div class="tournament-filter-miles-label-container">
                    <a class="first">10</a>
                    <a class="second">125</a>
                    <a class="third">250+</a>
                </div>
            </div>
        </div>
    </section>
    {% if request.user is not None and request.user.admin == True %}
    <section class="sec">
        <h3 class="standard-title text-dark-green">ADMIN FUNCTIONS</h3>
        <a href="/tournaments/create" class="btn btn-full text-white bkg-lightgreen">CREATE TOURNAMENT</a>
        <a href="/tournaments/create" class="btn btn-full text-white bkg-lightgreen" style="margin-top:0;">VIEW DEEP STATS</a>
    </section>
    {% endif %}
    <section class="sec sitestat">
        <div class="sitestat-half">
          <a>CENTERS</a>
          <h2>{% if total_centers is None %}0{% else %}{{ total_centers }}{% endif %}</h2>
        </div>
        <div class="sitestat-half">
            <a>STREAM READY</a>
            <h2>{% if total_centers is None %}0{% else %}{{ total_centers|add:'-34' }}{% endif %}</h2>
        </div>
      </section>
</section>

{% endblock %}